﻿@model IEnumerable<Zemedya.Entity.Concrete.BlogEntities.BlogKategori>
@{
    ViewData["Title"] = "Corparate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Corparate
                </h3>
                <h3 class="card-label font-size-h4-lg mb-7">
                    <a href="/Panel/AnaSayfa" class="btn btn-primary font-weight-bolder">Ana Sayfa İşlemleri İçin Tıklayınız.</a>
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col" style="width:80px;">Sıralama</th>
                            <th scope="col" style="width:300px;">Isim</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.SıralamaNo <a data-id="@item.Id" class="artır btn pr-0"><i class="flaticon2-up"></i></a> <a data-id="@item.Id" class="azalt btn pl-0 "><i class="flaticon2-down"></i></a></th>
                                <td>@item.Isim</td>
                                <td>
                                    @if (item.Aktif)
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                    }

                                </td>
                                <td>
                                    <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                                </td>
                                <td>
                                    <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                                </td>

                            </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Yeni Ekle</h4>
                    <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="Isim" id="Isim" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO</label>
                                            <input type="text" class="form-control" name="SEO" id="SEO" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="Detay" id="Detay" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorsel" name="gorsel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimEN" name="IsimEN" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO(EN)</label>
                                            <input type="text" class="form-control" id="SEOEN" name="SEOEN" placeholder="SEO(EN)" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayEN" id="DetayEN" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="form-group ">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimEN" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselEN" name="gorselEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10">Güncelle</h4>
                    <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <input type="hidden" id="SıralamaNoGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="IsimGuncel" id="IsimGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO</label>
                                            <input type="text" class="form-control" name="SEOGuncel" id="SEOGuncel" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>
                                
                               
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="DetayGuncel" id="DetayGuncel" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncel" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncel" name="gorselGuncel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselGuncelKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>


                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimGuncelEN" name="IsimGuncelEN" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SEO(EN)</label>
                                            <input type="text" class="form-control" id="SEOGuncelEN" name="SEOGuncelEN" placeholder="SEO(EN)" />
                                        </div>
                                    </div>
                                </div>
                               
                                
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayGuncelEN" id="DetayGuncelEN" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="form-group ">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncelEN" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncelEN" name="gorselGuncelEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselGuncelKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>


                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $('#Detay').summernote();
        $('#DetayEN').summernote();
        $('#DetayGuncel').summernote();
        $('#DetayGuncelEN').summernote();


        $(document).ready(function () {
            $(".artır").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                data.append("sayfa", "blogkategori");
                $.ajax({
                    url: '@Url.Action("SıraArtır", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".azalt").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                data.append("sayfa", "blogkategori");
                $.ajax({
                    url: '@Url.Action("SıraAzalt", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $("#SEO").on('keyup change', function () {
            validateSEOInput('SEO');
        });

        $('#SEO').bind("keyup focusout", function () {
            validateSEOInput('SEO');
        });

        $("#SEOEN").on('keyup change', function () {
            validateSEOInput('SEOEN');
        });

        $('#SEOEN').bind("keyup focusout", function () {
            validateSEOInput('SEOEN');
        });

        $("#SEOGuncel").on('keyup change', function () {
            validateSEOInput('SEOGuncel');
        });

        $('#SEOGuncel').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncel');
        });

        $("#SEOGuncelEN").on('keyup change', function () {
            validateSEOInput('SEOGuncelEN');
        });

        $('#SEOGuncelEN').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncelEN');
        });

        function validateSEOInput(id) {
            var charMap = { Ç: 'c', Ö: 'o', Ş: 's', İ: 'i', I: 'i', Ü: 'u', Ğ: 'g', ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g' };
            var str = $("#" + id).val();
            str_array = str.split('');
            for (var i = 0, len = str_array.length; i < len; i++) {
                str_array[i] = charMap[str_array[i]] || str_array[i];
            }
            str = str_array.join('');
            var clearStr = str.replace("&", "-").replace(",", "").replace(".", "").replace(" ", "-").replace("--", "-").replace("/", "").replace(/'/g, "").toLowerCase();
            $("#" + id).val(clearStr);
        };

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Bu sayfa silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("BlogKategoriSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Sayfa Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });


        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("BlogKategoriGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        isim = data.isim;
                        seo = data.seo;
                        isimEN = data.isimEN;
                        seoEN = data.seoEN;
                        aktif = data.aktif;
                        detay = data.detay;
                        detayEN = data.detayEN;
                        sıralamaNo = data.sıralamaNo;
                        gorsel = data.gorsel;
                        gorselEN = data.gorselEN;
                        $('#IsimGuncel').val(isim);
                        $('#IsimGuncelEN').val(isimEN);
                        $('#SEOGuncel').val(seo);
                        $('#SEOGuncelEN').val(seoEN);
                        $("#ResimGuncel").attr('src', '/img/' + gorsel);
                        $("#ResimGuncelEN").attr('src', '/img/' + gorselEN);
                        $('#IdGuncel').val(popupId);
                        $('#AktifGuncel').val(aktif);
                        $('#SıralamaNoGuncel').val(sıralamaNo);
                        $('#DetayGuncel').summernote('code', detay);
                        $('#DetayGuncelEN').summernote('code', detayEN);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirBlogKategori", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });






        function gorselKaldır() {
            $("#Resim").attr('src', '/img/null.png');
            $('#Gorsel').val("");
        };
        function gorselKaldırEN() {
            $("#ResimEN").attr('src', '/img/null.png');
            $('#GorselEN').val("");
        };

        function gorselGuncelKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "blogkategori");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel").attr('src', '/img/null.png');
                        $('#GorselGuncel').val("");
                    }
                });
                }
            });

        };

        function gorselGuncelKaldırEN() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "blogkategori");
            data.append("dil", "en");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncelEN").attr('src', '/img/null.png');
                        $('#GorselGuncelEN').val("");
                    }
                });
                }
            });

        };



        $(document).ready(function () {

            $("#gorsel").change(function (e) {

                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselEN").change(function (e) {

                $("#ResimEN").removeAttr('src');
                $("#ResimEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });

            $("#gorselGuncel").change(function (e) {

                $("#ResimGuncel").removeAttr('src');
                $("#ResimGuncel").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselGuncelEN").change(function (e) {

                $("#ResimGuncelEN").removeAttr('src');
                $("#ResimGuncelEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });


        $(document).ready(function () {
            habervalidator = $("#haberkategoriform").validate({
                rules: {
                    Isim: {
                        required: true,
                    },
                    IsimEN: {
                        required: true,
                    },
                    SEO: {
                        required: true,
                    },
                    SEOEN: {
                        required: true,
                    }
                },
                messages: {
                    Isim: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEO: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupEkle() {
            var gorsel = $("#gorsel").get(0).files;
            var gorselEN = $('#gorselEN').get(0).files;
            var form = new FormData();
            form.append("Isim", $('#Isim').val());
            form.append("IsimEN", $('#IsimEN').val());
            form.append("SEO", $('#SEO').val());
            form.append("SEOEN", $('#SEOEN').val());
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);
            form.append("Detay", $('#Detay').summernote('code'));
            form.append("DetayEN", $('#DetayEN').summernote('code'));

            $.ajax({
                url: '@Url.Action("BlogKategoriEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Sayfa Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator;

        function popupEkle() {
            if (habervalidator.form()) {
                PopupEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator2 = $("#haberguncelleform").validate({
                rules: {
                    IsimGuncel: {
                        required: true,
                    },
                    IsimGuncelEN: {
                        required: true,
                    },
                    SEOGuncel: {
                        required: true,
                    },
                    SEOGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    IsimGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupGuncelle() {
            var gorsel = $("#gorselGuncel").get(0).files;
            var gorselEN = $('#gorselGuncelEN').get(0).files;
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            form.append("SıralamaNo", $('#SıralamaNoGuncel').val());
            form.append("Isim", $('#IsimGuncel').val());
            form.append("IsimEN", $('#IsimGuncelEN').val());
            form.append("SEO", $('#SEOGuncel').val());
            form.append("SEOEN", $('#SEOGuncelEN').val());
            form.append("Detay", $('#DetayGuncel').summernote('code'));
            form.append("DetayEN", $('#DetayGuncelEN').summernote('code'));
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);

            $.ajax({
                url: '@Url.Action("BlogKategoriGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Sayfa Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator2;

        function popupGuncelle() {
            if (habervalidator2.form()) {
                PopupGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

