﻿@model Zemedya.Model.VM.BlogEkleVM
@{
    ViewData["Title"] = "Blog Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Blog Ekle
            </h3>
            
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link active float-right" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link float-right" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                    </li>
                </ul>
            

        </div>
        <p style="color:red;" class="mt-5 ml-5">@ViewData["hata"]</p>
        <form method="post" id="haberform" enctype="multipart/form-data">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                
                                    <div class="form-group">
                                        <label for="exampleSelect1">Kategori</label>
                                        <select asp-for="BlogDTO.BlogKategoriId" class="form-control">
                                            @foreach (var item in Model.BlogKategorileri)
                                            {
                                                <option value="@item.Id">@item.Isim</option>
                                            }


                                        </select>
                                    </div>
                                

                                <div class="form-group">
                                    <label>Ad</label>
                                    <input asp-for="BlogDTO.Isim" class="form-control" placeholder="Ad" />
                                </div>
                                <div class="form-group">
                                    <label>SEO</label>
                                    <input asp-for="BlogDTO.SEO" class="form-control" placeholder="SEO" />
                                </div>
                                <div class="form-group">
                                    <label>Tarih</label>
                                    <input asp-for="BlogDTO.Tarih" class="form-control" type="date" />
                                </div>



                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label>Özet</label>
                                    <textarea asp-for="BlogDTO.Ozet" class="form-control"></textarea>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="exampleTextarea">Detay</label>
                            <textarea asp-for="BlogDTO.Detay" class="form-control" rows="3" style="height: 250px;"></textarea>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ad(EN)</label>
                                    <input asp-for="BlogDTO.IsimEN" class="form-control" placeholder="Ad" />
                                </div>
                                <div class="form-group">
                                    <label>SEO(EN)</label>
                                    <input asp-for="BlogDTO.SEOEN" class="form-control" placeholder="SEO" />
                                </div>
                                <div class="form-group mb-1">
                                    <label>Özet(EN)</label>
                                    <textarea asp-for="BlogDTO.OzetEN" class="form-control"></textarea>
                                </div>
                                
                            </div>
                            <div class="col-md-6">

                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimEN" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="GorselEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="exampleTextarea">Detay(EN)</label>
                            <textarea asp-for="BlogDTO.DetayEN" class="form-control" rows="3" style="height: 250px;"></textarea>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <input type="submit" value="Kaydet" onclick="return blogEkle()" class="btn btn-primary mr-2" />
                    <a href="/Panel/Blog" class="btn btn-secondary">İptal</a>
                </div>
            </div>
        </form>
        <!--begin::Form-->
        <!--end::Form-->
    </div>
</div>

@section Javascript{

    <script type="text/javascript">

        $('#BlogDTO_Detay').summernote();
        $('#BlogDTO_DetayEN').summernote();

        $("#BlogDTO_SEO").on('keyup change', function () {
            validateSEOInput('BlogDTO_SEO');
        });

        $('#BlogDTO_SEO').bind("keyup focusout", function () {
            validateSEOInput('BlogDTO_SEO');
        });

        $("#BlogDTO_SEOEN").on('keyup change', function () {
            validateSEOInput('BlogDTO_SEOEN');
        });

        $('#BlogDTO_SEOEN').bind("keyup focusout", function () {
            validateSEOInput('BlogDTO_SEOEN');
        });

        function validateSEOInput(id) {
            var charMap = { Ç: 'c', Ö: 'o', Ş: 's', İ: 'i', I: 'i', Ü: 'u', Ğ: 'g', ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g' };
            var str = $("#" + id).val();
            str_array = str.split('');
            for (var i = 0, len = str_array.length; i < len; i++) {
                str_array[i] = charMap[str_array[i]] || str_array[i];
            }
            str = str_array.join('');
            var clearStr = str.replace("&", "-").replace(",", "").replace(".", "").replace(" ", "-").replace("--", "-").replace("/", "").replace(/'/g, "").toLowerCase();
            $("#" + id).val(clearStr);
        }



        function gorselKaldır() {
            $("#Resim").attr('src', '/img/null.png');
            $('#Gorsel').val("");
        };

        function gorselKaldırEN() {
            $("#ResimEN").attr('src', '/img/null.png');
            $('#GorselEN').val("");
        };

        $(document).ready(function () {
            $("#Gorsel").change(function (e) {

                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#GorselEN").change(function (e) {

                $("#ResimEN").removeAttr('src');
                $("#ResimEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });

        $(document).ready(function () {
            habervalidator2 = $("#haberform").validate({
                rules: {
                    'BlogDTO.Isim': {
                        required: true,
                    },
                    'BlogDTO.SEO': {
                        required: true
                    },
                    'BlogDTO.IsimEN': {
                        required: true,
                    },
                    'BlogDTO.SEOEN': {
                        required: true
                    }
                },
                messages: {
                    'BlogDTO.Isim': {
                        required: "Bu alan boş geçilemez."
                    },
                    'BlogDTO.SEO': {
                        required: "Bu alan boş geçilemez."
                    },
                    'BlogDTO.IsimEN': {
                        required: "Bu alan boş geçilemez."
                    },
                    'BlogDTO.SEOEN': {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });


        var habervalidator2;

        function blogEkle() {
            if (habervalidator2.form()) {
                return true;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>

}

