﻿@model IEnumerable<Zemedya.Entity.Concrete.EtkinlikEntities.Etkinlik>
@{
    ViewData["Title"] = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Solution Partners
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            @*<th scope="col" style="width:80px;">Sıralama</th>*@
                            <th scope="col">Isim</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @*<th scope="row">@item.SıralamaNo <a data-id="@item.Id" class="artır btn pr-0"><i class="flaticon2-up"></i></a> <a data-id="@item.Id" class="azalt btn pl-0 "><i class="flaticon2-down"></i></a></th>*@
                            <td>@item.Isim</td>
                            <td>
                                @if (item.Aktif)
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                }
                                else
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                }

                            </td>
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                            <td>
                                <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                            </td>

                        </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Solutions Partners Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="Isim" id="Isim" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SEO</label>
                                            <input type="text" class="form-control" name="SEO" id="SEO" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                @*<div class="form-group mb-1">
                                    <label>Özet</label>
                                    <textarea name="Ozet" id="Ozet" class="form-control"></textarea>
                                </div>*@
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Üst Metin</label>
                                    <textarea name="Detay" id="Detay" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="form-group mb-1 mt-4">
                                    <label for="exampleTextarea">Alt Metin</label>
                                    <textarea name="Detay2" id="Detay2" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="mt-4">Görsel - Başlık</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="Resim" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorsel" name="gorsel" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="mt-4">Görsel</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="Resim2" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorsel2" name="gorsel2" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldır2()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimEN" name="IsimEN" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SEO(EN)</label>
                                            <input type="text" class="form-control" name="SEOEN" id="SEOEN" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                @*<div class="form-group mb-1">
                                    <label>Özet(EN)</label>
                                    <textarea name="OzetEN" id="OzetEN" class="form-control"></textarea>
                                </div>*@
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Üst Metin(EN)</label>
                                    <textarea name="DetayEN" id="DetayEN" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                                <div class="form-group mb-1 mt-4">
                                    <label for="exampleTextarea">Alt Metin(EN)</label>
                                    <textarea name="Detay2EN" id="Detay2EN" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <div class="mt-4">Görsel(EN) - Başlık</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimEN" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselEN" name="gorselEN" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <div class="mt-4">Görsel(EN)</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimEN2" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselEN2" name="gorselEN2" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldırEN2()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10">Solution Partners Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <input type="hidden" id="SıralamaNoGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="IsimGuncel" id="IsimGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SEO</label>
                                            <input type="text" class="form-control" name="SEOGuncel" id="SEOGuncel" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>


                                @*<div class="form-group mb-1">
                    <label>Özet</label>
                    <textarea name="OzetGuncel" id="OzetGuncel" class="form-control"></textarea>
                </div>*@
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Üst Metin</label>
                                    <textarea id="DetayGuncel" name="DetayGuncel" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                                <div class="form-group mb-1 mt-4">
                                    <label for="exampleTextarea">Alt Metin</label>
                                    <textarea name="DetayGuncel2" id="DetayGuncel2" class="form-control" rows="3" style="height:200px;"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="mt-4">Görsel - Başlık</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimGuncel" height="160" width="160" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselGuncel" name="GorselGuncel" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselGuncelKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="mt-4">Görsel</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimGuncel2" height="160" width="160" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselGuncel2" name="GorselGuncel2" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselGuncelKaldır2()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimGuncelEN" name="IsimGuncelEN" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SEO(EN)</label>
                                            <input type="text" class="form-control" name="SEOGuncelEN" id="SEOGuncelEN" placeholder="SEO" />
                                        </div>
                                    </div>
                                </div>


                                @*<div class="form-group mb-1">
                    <label>Özet(EN)</label>
                    <textarea name="OzetGuncelEN" id="OzetGuncelEN" class="form-control"></textarea>
                </div>*@
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Üst Metin(EN)</label>
                                    <textarea id="DetayGuncelEN" name="DetayGuncelEN" class="form-control" rows="3" style="height: 250px;"></textarea>
                                </div>
                                <div class="form-group mb-1 mt-4">
                                    <label for="exampleTextarea">Alt Metin(EN)</label>
                                    <textarea name="DetayGuncel2EN" id="DetayGuncel2EN" class="form-control" rows="3" style="height: 200px;"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <div class="mt-4">Görsel(EN) - Başlık</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimGuncelEN" height="160" width="160" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselGuncelEN" name="GorselGuncelEN" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselGuncelKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <div class="mt-4">Görsel(EN)</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimGuncelEN2" height="160" width="160" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselGuncelEN2" name="GorselGuncelEN2" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselGuncelKaldırEN2()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
        $('#Detay').summernote();
        $('#DetayEN').summernote();
        $('#DetayGuncel').summernote();
        $('#DetayGuncelEN').summernote();
        $('#Detay2').summernote();
        $('#Detay2EN').summernote();
        $('#DetayGuncel2').summernote();
        $('#DetayGuncel2EN').summernote();

        @*$(document).ready(function () {
            $(".artır").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                data.append("sayfa", "etkinlik");
                $.ajax({
                    url: '@Url.Action("SıraArtır", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });*@

        @*$(document).ready(function () {
            $(".azalt").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                data.append("sayfa", "etkinlik");
                $.ajax({
                    url: '@Url.Action("SıraAzalt", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });*@

       function gorselGuncelKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "etkinlik");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel").attr('src', '/img/null.png');
                        $('#GorselGuncel').val("");
                    }
                });
                }
            });

        };

        function gorselGuncelKaldırEN() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "etkinlik");
            data.append("dil", "en");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncelEN").attr('src', '/img/null.png');
                        $('#GorselGuncelEN').val("");
                    }
                });
                }
            });

        };

        function gorselGuncelKaldır2() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "etkinlik2");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel2").attr('src', '/img/null.png');
                        $('#GorselGuncel2').val("");
                    }
                });
                }
            });

        };

        function gorselGuncelKaldırEN2() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "etkinlik2");
            data.append("dil", "en");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncelEN2").attr('src', '/img/null.png');
                        $('#GorselGuncelEN2').val("");
                    }
                });
                }
            });

        };



        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("EtkinlikGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        aktif = data.aktif;
                        isim = data.isim;
                        //sıralamaNo = data.sıralamaNo;
                        seo = data.seo;
                        isimEN = data.isimEN;
                        seoEN = data.seoEN;
                        gorsel = data.gorsel;
                        gorselEN = data.gorselEN;
                        gorsel2 = data.gorsel2;
                        gorselEN2 = data.gorselEN2;
                        //ozet = data.ozet;
                        //ozetEN = data.ozetEN;
                        detay = data.detay;
                        detayEN = data.detayEN;
                        detay2 = data.detay2;
                        detay2EN = data.detay2EN;
                        $('#IsimGuncel').val(isim);
                        $('#IsimGuncelEN').val(isimEN);
                        $('#SEOGuncel').val(seo);
                        $('#SEOGuncelEN').val(seoEN);
                        //$('#OzetGuncel').val(ozet);
                        //$('#OzetGuncelEN').val(ozetEN);
                        $('#DetayGuncel2').summernote('code', detay2);
                        $('#DetayGuncel2EN').summernote('code', detay2EN);
                        $('#DetayGuncel').summernote('code', detay);
                        $('#DetayGuncelEN').summernote('code', detayEN);
                        $("#ResimGuncel").attr('src', '/img/' + gorsel);
                        $("#ResimGuncelEN").attr('src', '/img/' + gorselEN);
                        $("#ResimGuncel2").attr('src', '/img/' + gorsel2);
                        $("#ResimGuncelEN2").attr('src', '/img/' + gorselEN2);
                        $('#IdGuncel').val(popupId);
                        $('#AktifGuncel').val(aktif);
                        //$('#SıralamaNoGuncel').val(sıralamaNo);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirEtkinlik", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $("#SEO").on('keyup change', function () {
            validateSEOInput('SEO');
        });

        $('#SEO').bind("keyup focusout", function () {
            validateSEOInput('SEO');
        });

        $("#SEOEN").on('keyup change', function () {
            validateSEOInput('SEOEN');
        });

        $('#SEOEN').bind("keyup focusout", function () {
            validateSEOInput('SEOEN');
        });

        $("#SEOGuncel").on('keyup change', function () {
            validateSEOInput('SEOGuncel');
        });

        $('#SEOGuncel').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncel');
        });

        $("#SEOGuncelEN").on('keyup change', function () {
            validateSEOInput('SEOGuncelEN');
        });

        $('#SEOGuncelEN').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncelEN');
        });

        function validateSEOInput(id) {
            var charMap = { Ç: 'c', Ö: 'o', Ş: 's', İ: 'i', I: 'i', Ü: 'u', Ğ: 'g', ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g' };
            var str = $("#" + id).val();
            str_array = str.split('');
            for (var i = 0, len = str_array.length; i < len; i++) {
                str_array[i] = charMap[str_array[i]] || str_array[i];
            }
            str = str_array.join('');
            var clearStr = str.replace("&", "-").replace(",", "").replace(".", "").replace(" ", "-").replace("--", "-").replace("/", "").replace(/'/g, "").toLowerCase();
            $("#" + id).val(clearStr);
        };

      $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Kayıt silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("EtkinlikSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });






        function gorselKaldır() {
            $("#Resim").removeAttr('src');
            $('#Gorsel').val("");
        };
        function gorselKaldırEN() {
            $("#ResimEN").removeAttr('src');
            $('#GorselEN').val("");
        };

        function gorselKaldır2() {
            $("#Resim2").removeAttr('src');
            $('#Gorsel2').val("");
        };
        function gorselKaldırEN2() {
            $("#ResimEN2").removeAttr('src');
            $('#GorselEN2').val("");
        };

        $(document).ready(function () {

            $("#gorsel").change(function (e) {

                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselEN").change(function (e) {

                $("#ResimEN").removeAttr('src');
                $("#ResimEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });

            $("#gorselGuncel").change(function (e) {

                $("#ResimGuncel").removeAttr('src');
                $("#ResimGuncel").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselGuncelEN").change(function (e) {

                $("#ResimGuncelEN").removeAttr('src');
                $("#ResimGuncelEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });

            $("#gorsel2").change(function (e) {

                $("#Resim2").removeAttr('src');
                $("#Resim2").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselEN2").change(function (e) {

                $("#ResimEN2").removeAttr('src');
                $("#ResimEN2").attr('src', URL.createObjectURL(e.target.files[0]));
            });

            $("#gorselGuncel2").change(function (e) {

                $("#ResimGuncel2").removeAttr('src');
                $("#ResimGuncel2").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselGuncelEN2").change(function (e) {

                $("#ResimGuncelEN2").removeAttr('src');
                $("#ResimGuncelEN2").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });


        $(document).ready(function () {
            habervalidator = $("#haberkategoriform").validate({
                rules: {
                    Isim: {
                        required: true,
                    },
                    IsimEN: {
                        required: true,
                    },
                    SEO: {
                        required: true,
                    },
                    SEOEN: {
                        required: true,
                    }
                },
                messages: {
                    Isim: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEO: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupEkle() {
            var gorsel = $("#gorsel").get(0).files;
            var gorselEN = $('#gorselEN').get(0).files;
            var gorsel2 = $("#gorsel2").get(0).files;
            var gorselEN2 = $('#gorselEN2').get(0).files;
            var form = new FormData();
            form.append("Isim", $('#Isim').val());
            form.append("IsimEN", $('#IsimEN').val());
            form.append("SEO", $('#SEO').val());
            form.append("SEOEN", $('#SEOEN').val());
            //form.append("Ozet", $('#Ozet').val());
            //form.append("OzetEN", $('#OzetEN').val());
            form.append("Detay", $('#Detay').summernote('code'));
            form.append("DetayEN", $('#DetayEN').summernote('code'));
            form.append("Detay2", $('#Detay2').summernote('code'));
            form.append("Detay2EN", $('#Detay2EN').summernote('code'));
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);
            form.append("resim2", gorsel2[0]);
            form.append("resimEN2", gorselEN2[0]);

            $.ajax({
                url: '@Url.Action("EtkinlikEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator;

        function popupEkle() {
            if (habervalidator.form()) {
                PopupEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator2 = $("#haberguncelleform").validate({
                rules: {
                    IsimGuncel: {
                        required: true,
                    },
                    IsimGuncelEN: {
                        required: true,
                    },
                    SEOGuncel: {
                        required: true,
                    },
                    SEOGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    IsimGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupGuncelle() {
            var gorsel = $("#gorselGuncel").get(0).files;
            var gorselEN = $('#gorselGuncelEN').get(0).files;
            var gorsel2 = $("#gorselGuncel2").get(0).files;
            var gorselEN2 = $('#gorselGuncelEN2').get(0).files;
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            //form.append("SıralamaNo", $('#SıralamaNoGuncel').val());
            form.append("Isim", $('#IsimGuncel').val());
            form.append("IsimEN", $('#IsimGuncelEN').val());
            form.append("SEO", $('#SEOGuncel').val());
            form.append("SEOEN", $('#SEOGuncelEN').val());
            //form.append("Ozet", $('#OzetGuncel').val());
            //form.append("OzetEN", $('#OzetGuncelEN').val());
            form.append("Detay", $('#DetayGuncel').summernote('code'));
            form.append("DetayEN", $('#DetayGuncelEN').summernote('code'));
            form.append("Detay2", $('#DetayGuncel2').summernote('code'));
            form.append("Detay2EN", $('#DetayGuncel2EN').summernote('code'));
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);
            form.append("resim2", gorsel2[0]);
            form.append("resimEN2", gorselEN2[0]);

            $.ajax({
                url: '@Url.Action("EtkinlikGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidato2r;

        function popupGuncelle() {
            if (habervalidator2.form()) {
                PopupGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

