﻿@model Zemedya.Model.DTO.GirisDTO.GirisDTO
@{
    Layout = null;
}


<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 9 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>Panel Giris</title>
    <meta name="description" content="Giris Yap" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/Panel/assets/css/pages/login/classic/login-3.css" rel="stylesheet" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Panel/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Panel/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Panel/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="~/Panel/assets/media/logos/favicon.ico" />
    <link href="~/css/oturumvalid.css" rel="stylesheet" />

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(Panel/assets/media/bg/bg-1.jpg);">
                <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="/Panel/Index">
                            <img src="~/img/zemedya-logo.png" class="max-h-100px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <!--begin::Login Sign in form-->
                    <div class="login-signin" id="kt_login_signin_form">
                        <div class="mb-20">
                            <h3>Giriş Yap</h3>
                            <p class="opacity-60 font-weight-bold">Lütfen bilgilerinizi giriniz</p>
                            <p class="opacity-60 font-weight-bold h6">@ViewData["hata"]</p>
                        </div>
                        <form class="form" id="giris" method="post">
                            <div class="form-group">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" asp-for="KullaniciAdi" type="text" placeholder="Kullanıcı Adı" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" asp-for="Sifre" type="password" placeholder="Şifre" />
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
                                <div class="checkbox-inline">
                                    <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                        <input type="checkbox" asp-for="BeniHatirla" />
                                        <span></span>
                                        Beni Hatırla
                                    </label>
                                </div>
                            <a href="/Panel/ParolaUnuttum" class="text-white font-weight-bold">Şifreni mi unuttun ?</a>
                            </div>
                            <div class="form-group text-center mt-10">
                                <button class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3" onclick="return giris()">Giriş Yap</button>
                            </div>
                        </form>
                    </div>


                    <div class="login-forgot">
                        <div class="mb-20">
                            <h3>Parolayı unuttum </h3>
                            <p class="opacity-60">Lütfen sistemde kayıtlı E-Posta adresinizi giriniz.</p>
                        </div>
                        <form class="form" id="parolaunuttum">
                            <div class="form-group mb-10">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" type="text" placeholder="E-Posta" name="email" autocomplete="off" id="email" />
                            </div>
                            <div class="form-group">
                                <button id="kt_login_forgot_submit" class="sifreGonder btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2" onclick="return parolagonder()">Şifremi Gönder</button>
                                <button asp-controller="Panel" asp-action="GirisYap" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">İptal</button>
                            </div>
                        </form>
                    </div>
                    <!--end::Login forgot password form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->


    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#0BB783",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#D7F9EF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/Panel/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="~/Panel/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="~/Panel/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/Panel/assets/js/pages/custom/login/login-general.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--end::Page Scripts-->
    <script type="text/javascript">
        $(document).ready(function () {
            validator = $("#giris").validate({
                rules: {
                    KullaniciAdi: {
                        required: true,
                    },
                    Sifre: {
                        required: true,
                    }
                },
                messages: {
                    KullaniciAdi: {
                        required: "Lütfen Kullanıcı Adını Giriniz.",
                    },
                    Sifre: {
                        required: "Lütfen Şifreyi Giriniz.",
                    }
                }
            });
        });

        var validator;

        function giris() {
            if (validator.form()) {
                return true;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })

                return false;
            }
        }

        validator2 = $("#parolaunuttum").validate({
            rules: {
                email: {
                    required: true,
                }
            },
            messages: {
                email: {
                    required: "Lütfen E-Posta adresinizi giriniz.",
                }
            }
        });

        var validator2;

        function parolagonder() {
            if (validator2.form()) {
                var form = new FormData();
                form.append("email", $('#email').val());
                $.ajax({
                    url: '@Url.Action("SifreGonder", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: form,
                    success: function (data) {
                        if (data.result == 1) {
                            swal.fire({
                                text: "Şifreniz E-Posta adresinize gönderilmiştir.",
                                icon: "success",
                                buttonsStyling: true,
                                confirmButtonText: "Tamam",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            })
                            return false;
                        }
                        
                        else {
                            swal.fire({
                                text: "Girdiğiniz E-Posta adresi sistemde kayıtlı değildir.",
                                icon: "error",
                                buttonsStyling: true,
                                confirmButtonText: "Tamam",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            })
                            return false;

                        }
                    }
                });

            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })
                return false;
            }
        }







    </script>

</body>
<!--end::Body-->
</html>

