﻿@model Zemedya.Model.VM.KontrolPaneliVM
@{
    ViewData["Title"] = "KontrolPaneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container"><div class="card card-custom">
    <div class="card-header flex-wrap-border-0 pt-6 pb-0">

        <div class="card-title">
            <h3 class="card-label font-size-h3-lg mb-7">
                <i class="flaticon2-gear text-primary"></i>
                Kontrol Paneli
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-label font-sizwe-h3-lg mb-7">
                    <i class="flaticon2-gear"></i>
                    Sayfa Ayarları
                </h5>
                <div class="example-preview">
                    <table class="table table-sm" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Sayfa Adı</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Kategori</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Haberler</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Haberler)
                                    {
                                        <a data-id="1" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="1" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Duyurular</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Duyuru)
                                    {
                                        <a data-id="2" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="2" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Blog</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Blog)
                                    {
                                        <a data-id="3" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="3" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                                <td>
                                    @if (Model.MevcutSayfalar.BlogKategori)
                                    {
                                        <a data-id="31" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="31" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Etkinlik</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Etkinlik)
                                    {
                                        <a data-id="4" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="4" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>İletişim</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Iletisim)
                                    {
                                        <a data-id="5" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="5" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Kurumsal</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Kurumsal)
                                    {
                                        <a data-id="6" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="6" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Referans</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Referans)
                                    {
                                        <a data-id="7" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="7" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Ürünler</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Urunler)
                                    {
                                        <a data-id="8" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="8" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                                <td>
                                    @if (Model.MevcutSayfalar.UrunKategori)
                                    {
                                        <a data-id="81" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="81" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Video Galeri</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Video)
                                    {
                                        <a data-id="9" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="9" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Ekip</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Ekip)
                                    {
                                        <a data-id="10" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="10" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Galeri</th>
                                <td>
                                    @if (Model.MevcutSayfalar.Galeri)
                                    {
                                        <a data-id="11" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="11" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                                <td>
                                    @if (Model.MevcutSayfalar.GaleriKategori)
                                    {
                                        <a data-id="111" class="sayfa btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="111" class="sayfa btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div></div>
        <div class="col-md-6"><div class="col-md-6">
    <div class="card-body">
        <h5 class="card-label font-sizwe-h3-lg mb-7">
                    <i class="flaticon2-gear"></i>
                    Dil Ayarları
                </h5>
        <div class="example-preview">
            <table class="table table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Diller</th>
                        <th scope="col">Durum</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>TR</th>
                        <td> 
                            <a class="btn btn-sm btn-light-primary btn-inline">Aktif</a>  
                        </td>
                    </tr>
                    <tr >
                        <th>EN</th>
                        <td>
                            @if (Model.MevcutDiller.EN)
                            {
                                <a data-id="2" class="dil btn btn-sm  btn-light-primary btn-inline ">Aktif</a>
                            }
                            else
                            {
                                <a data-id="2" class="dil btn btn-sm  btn-light-danger btn-inline ">Pasif</a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div></div>
    </div>
    
</div></div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sayfa").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirSayfa", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

         $(document).ready(function () {
            $(".dil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirDil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
 }


