﻿@model IEnumerable<Zemedya.Entity.Concrete.KurumsalEntities.Kurumsal>
@{
    ViewData["Title"] = "Ana Sayfa İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Ana Sayfa İşlemleri
                </h3>
            </div>

            @*<div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>*@
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            @*<th scope="col" style="width:80px;">Sıralama</th>*@
                            <th scope="col">Isim</th>
                            
                            <th scope="col" style="width:50px;">Güncelle</th>
                            @*<th scope="col" style="width:50px;">Sil</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                           
                            <td>@item.Isim</td>
                           
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                            

                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Kurumsal Bilgi Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="Isim" id="Isim" />
                                        </div>
                                    </div>
                                  
                                </div>

                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="Detay" id="Detay" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>



                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimEN" name="IsimEN" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO(EN)</label>
                                            <input type="text" class="form-control" id="SEOEN" name="SEOEN" placeholder="SEO(EN)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayEN" id="DetayEN" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return kategoriEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10"> Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <input type="hidden" id="SıralamaNoGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="IsimGuncel" id="IsimGuncel" />
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea id="DetayGuncel" name="DetayGuncel" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <div>Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncel" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncel" name="gorselGuncel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselGuncelKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimGuncelEN" name="IsimGuncelEN" />

                                        </div>
                                    </div>
                                    
                                </div>


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea id="DetayGuncelEN" name="DetayGuncelEN" class="form-control" rows="3" style="height: 250px;"></textarea>
                                </div>

                                <div class="form-group">
                                    <div>Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncelEN" height="160" width="160"  />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncelEN" name="gorselGuncelEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırGuncelEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return kategoriGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>


@section Javascript{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });


        $('#DetayGuncel').summernote();
        $('#DetayGuncelEN').summernote();

       function gorselGuncelKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "kurumsal");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel").attr('src', '/img/null.png');
                        $('#GorselGuncel').val("");
                    }
                });
                }
            });

        };


        $(document).ready(function () {


            $("#gorselGuncel").change(function (e) {

                $("#ResimGuncel").removeAttr('src');
                $("#ResimGuncel").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselGuncelEN").change(function (e) {

                $("#ResimGuncelEN").removeAttr('src');
                $("#ResimGuncelEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });

        function gorselKaldırGuncelEN() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "kurumsal");
            data.append("dil", "en");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncelEN").attr('src', '/img/null.png');
                        $('#GorselGuncelEN').val("");
                    }
                });
                }
            });

        };




        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var kategoriId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", kategoriId);
                $.ajax({
                    url: '@Url.Action("KurumsalGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        aktif = data.aktif;
                        isim = data.isim;
                        isimEN = data.isimEN;
                        detay = data.detay;
                        detayEN = data.detayEN;
                        gorsel = data.gorsel;
                        gorselEN = data.gorselEN;
                        $('#IsimGuncel').val(isim);
                        $('#IsimGuncelEN').val(isimEN);
                        $('#DetayGuncel').summernote('code', detay);
                        $('#DetayGuncelEN').summernote('code', detayEN);
                        $("#ResimGuncel").attr('src', '/img/' + gorsel);
                        $("#ResimGuncelEN").attr('src', '/img/' + gorselEN);
                        $('#IdGuncel').val(kategoriId);
                        $('#AktifGuncel').val(aktif);
                    }
                });
            });
        });










        $(document).ready(function () {
            habervalidator2 = $("#haberguncelleform").validate({
                rules: {
                    IsimGuncel: {
                        required: true,
                    },
                    IsimGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    IsimGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function KategoriGuncelle() {
            var gorsel = $("#gorselGuncel").get(0).files;
            var gorselEN = $('#gorselGuncelEN').get(0).files;
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            form.append("Isim", $('#IsimGuncel').val());
            form.append("IsimEN", $('#IsimGuncelEN').val());
            form.append("Detay", $('#DetayGuncel').summernote('code'));
            form.append("DetayEN", $('#DetayGuncelEN').summernote('code'));
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);

            $.ajax({
                url: '@Url.Action("KurumsalGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Bilgiler Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator2;

        function kategoriGuncelle() {
            if (habervalidator2.form()) {
                KategoriGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

