﻿@model List<Zemedya.Entity.Concrete.MembershipEntities.Membership>
@{
    ViewData["Title"] = "Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Membership
                </h3>
            </div>

            <div>
                <a href="/Panel/MembershipAddOrUpdate" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Üyelik Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Count > 0)
                {
                    @foreach (var membership in Model.OrderBy(x => x.Order))
                    {
                        <div class="card card-custom shadow mb-5">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">
                                        @membership.Title
                                    </h3>
                                </div>
                                <div class="card-toolbar">
                                    <a href="/Panel/membershipUp?id=@membership.Id" class="btn btn-sm btn-secondary font-weight-bold mr-2">
                                        <i class="flaticon2-up"></i>
                                    </a>
                                    <a href="/Panel/membershipDown?id=@membership.Id" class="btn btn-sm btn-secondary font-weight-bold mr-2">
                                        <i class="flaticon2-down"></i>
                                    </a>
                                    <a href="/Panel/MembershipAddOrUpdate?id=@membership.Id" class="btn btn-sm btn-secondary font-weight-bold mr-2">
                                        <i class="flaticon-edit-1"></i>
                                    </a>
                                    <button onclick="DeleteMessage('/Panel/membershipDelete?id=@membership.Id')" class="btn btn-sm btn-secondary font-weight-bold mr-2">
                                        <i class="flaticon-delete-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-secondary text-center" role="alert">
                        Kayıt yok.
                    </div>
                }
        </div>
    </div>
</div>


@section Javascript{
    <script>
        function DeleteMessage(url) {
            Swal.fire({
                title: 'Silmek istiyor musunuz?',
                text: "Bu işlemi geri alamazsınız!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Kapat',
                confirmButtonText: 'Evet, sil!'
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location = url;
                }
            })
        }
    </script>

}