﻿@model Zemedya.Entity.Concrete.AcikPozisyonEtities.AcikPozisyon
@{
    ViewData["Title"] = "Open Position Add Or Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="POST" enctype="multipart/form-data" class="container" id="Form">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Açık Posizyon Düzenleme
                </h3>
            </div>

            <div>
                <button type="submit" class="btn btn-primary font-weight-bolder">
                    Kaydet
                </button>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Adı (TR)</label>
                <input class="form-control" type="text" maxlength="300" required="required" asp-for="NameTr" />
            </div>
            <div class="form-group">
                <label>Adı (EN)</label>
                <input class="form-control" type="text" maxlength="300" required="required" asp-for="NameEn" />
            </div>
            <div class="form-group">
                <label>Şehir</label>
                <input class="form-control" type="text" maxlength="100" required="required" asp-for="City" />
            </div>
            <div class="form-group">
                <label>Açıklama (TR)</label>
                <textarea class="form-control" asp-for="DescriptionTr"></textarea>
            </div>
            <div class="form-group">
                <label>Açıklama (EN)</label>
                <textarea class="form-control" asp-for="DescriptionEn"></textarea>
            </div>
        </div>
    </div>
</form>

@section Javascript{
    <script>
        $('#DescriptionTr').summernote();
        $('#DescriptionEn').summernote();

        $("#Form").validate({
            lang: 'tr',
            submitHandler: function (form) {
                form.submit();
            }
        });

    </script>
}
