﻿@model Zemedya.Entity.Concrete.PressEntities.Press

@{
    ViewData["Title"] = "PressAddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="POST" enctype="multipart/form-data" class="container" id="Form">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Certificate Item
                </h3>
            </div>

            <div>
                <button type="submit" class="btn btn-primary font-weight-bolder">
                    Kaydet
                </button>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GorselTR" />
            <input type="hidden" asp-for="GorselEN" />
            <input type="hidden" asp-for="Order" />
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <div class="form-group row" style="max-width:290px">
                        <label class="col-form-label col-lg-4">Tarih</label>
                        <div class="col-lg-8">
                            <input type="date" asp-for="Tarih" required="required" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="border-bottom mb-5 py-3">Türkçe</h3>
            <div class="row">
                <div class="col-lg-auto">
                    <div class="form-group">
                        <div class="image-input image-input-outline" id="kt_image_2">
                            @{
                                var imageUrl = "/img/null.png";
                            }
                            @if (Model != null && Model.GorselTR != null)
                            {
                                imageUrl = "/img/" + Model.GorselTR;
                            }

                            <div class="image-input-wrapper" style="background-image: url(@imageUrl); width: 355px; height: 355px; background-position: center; background-size: contain; background-repeat: no-repeat; "></div>

                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                <i class="fa fa-pen icon-sm text-muted"></i>
                                <input type="file" asp-for="GorselTRFile" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="ImageFile" />
                            </label>

                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input class="form-control" type="text" maxlength="100" required="required" asp-for="BaslikTR" />
                    </div>
                    <div class="form-group">
                        <label>İçerik</label>
                        <textarea class="form-control" asp-for="IcerikTR"></textarea>
                    </div>
                </div>
            </div>
            <h3 class="border-bottom mb-5 py-3">İngilizce</h3>
            <div class="row">
                <div class="col-lg-auto">
                    <div class="form-group">
                        <div class="image-input image-input-outline" id="kt_image_3">
                            @{
                                var imageUrlEn = "/img/null.png";
                            }
                            @if (Model != null && Model.GorselEN != null)
                            {
                                imageUrlEn = "/img/" + Model.GorselEN;
                            }

                            <div class="image-input-wrapper" style="background-image: url(@imageUrlEn); width: 355px; height: 355px; background-position: center; background-size: contain; background-repeat: no-repeat; "></div>

                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                <i class="fa fa-pen icon-sm text-muted"></i>
                                <input type="file" asp-for="GorselENFile" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="ImageFile" />
                            </label>

                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input class="form-control" type="text" maxlength="100" required="required" asp-for="BaslikEN" />
                    </div>
                    <div class="form-group">
                        <label>İçerik</label>
                        <textarea class="form-control" asp-for="IcerikEN"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Javascript{
    <script>
        $('#IcerikTR').summernote();
        $('#IcerikEN').summernote();

        var avatar2 = new KTImageInput('kt_image_2');
        var avatar3 = new KTImageInput('kt_image_3');

        $("#Form").validate({
            lang: 'tr',
            submitHandler: function (form) {
                form.submit();
            }
        });

        @if (Model!=null &&  Model.ErrorMessage!=null) {
            <text>
            Swal.fire(
              'Uyarı!',
              '@Model.ErrorMessage',
              'warning'
            )
            </text>
        }

    </script>
}


