﻿@model Zemedya.Entity.Concrete.Team.TeamList
@{
    ViewData["Title"] = "Team Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="POST" enctype="multipart/form-data" class="container" id="categoryListItemForm">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Team List Item
                </h3>
            </div>

            <div>
                <button type="submit" class="btn btn-primary font-weight-bolder">
                    Kaydet
                </button>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <input type="hidden" asp-for="Order" />
            <input type="hidden" asp-for="TeamCategoryId" />
            <div class="row">
                <div class="col-lg-auto">
                    <div class="form-group">
                        <div class="image-input image-input-outline" id="kt_image_2">
                            @{
                                var imageUrl = "/img/null.png";
                            }
                            @if (Model != null && Model.Image != null)
                            {
                                imageUrl = "/img/" + Model.Image;
                            }

                            <div class="image-input-wrapper" style="background-image: url(@imageUrl); width: 155px; height: 155px; background-position: center; background-size: contain; background-repeat: no-repeat; "></div>

                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                <i class="fa fa-pen icon-sm text-muted"></i>
                                <input type="file" asp-for="ImageFile" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="ImageFile" />
                            </label>

                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg row">
                    <div class="form-group col-lg-12">
                        <label>Ad Soyad</label>
                        <input class="form-control" type="text" maxlength="100" required="required" asp-for="NameSurname" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Ünvan (TR)</label>
                        <input class="form-control" type="text" maxlength="100" required="required" asp-for="TitleTr" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Ünvan (EN)</label>
                        <input class="form-control" type="text" maxlength="100" required="required" asp-for="TitleEn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Javascript{
    <script>
        var avatar2 = new KTImageInput('kt_image_2');

        $("#categoryListItemForm").validate({
            lang: 'tr',
            submitHandler: function (form) {
                form.submit();
            }
        });

        @if (Model!=null &&  Model.ErrorMessage!=null) {
            <text>
            Swal.fire(
              'Uyarı!',
              '@Model.ErrorMessage',
              'warning'
            )
            </text>
        }

    </script>
}