﻿@model Zemedya.Entity.Concrete.Team.TeamCategory
@{
    ViewData["Title"] = "Team Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="POST" class="container" id="categoryForm">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Team Category
                </h3>
            </div>

            <div>
                <button type="submit" class="btn btn-primary font-weight-bolder">
                    Kaydet
                </button>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Order" />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Kategori Adı (TR)</label>
                        <input type="text" asp-for="TeamNameTr" maxlength="100" required="required" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Kategori Adı (EN)</label>
                        <input type="text" asp-for="TeamNameEn" maxlength="100" required="required" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Kategori Seo (TR)</label>
                        <input type="text" asp-for="TeamSeoTr" maxlength="300" required="required" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Kategori Seo (EN)</label>
                        <input type="text" asp-for="TeamSeoEn" maxlength="300" required="required" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Javascript{
    <script>
        $("#categoryForm").validate({
            lang: 'tr',
            submitHandler: function (form) {
                form.submit();
            }
        });


            //var habervalidator;

            //$(document).ready(function () {

            //    habervalidator = $("#categoryForm").validate({
            //        rules: {
            //            TeamNameTr: {
            //                required: true,
            //                max
            //            },
            //            TeamNameEn: {
            //                required: true,
            //            },
            //            TeamSeoTr: {
            //                required: true,
            //            },
            //            TeamSeoEn: {
            //                required: true,
            //            }
            //        },
            //        messages: {
            //            Isim: {
            //                required: "Bu alan boş geçilemez."
            //            },
            //            IsimEN: {
            //                required: "Bu alan boş geçilemez."
            //            },
            //            SEO: {
            //                required: "Bu alan boş geçilemez."
            //            },
            //            SEOEN: {
            //                required: "Bu alan boş geçilemez."
            //            }
            //        }
            //    });

            //});

    </script>
}
