﻿@model Zemedya.Model.VM.UrunEkleVM
@{
    ViewData["Title"] = "UrunGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Ürün Güncelle
            </h3>
            @if (ViewBag.en == "True")
            {
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link active float-right" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link float-right" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                    </li>
                </ul>
            }

        </div>
        <p style="color:red;" class="mt-5 ml-5">@ViewData["hata"]</p>
        <form method="post" id="haberform" enctype="multipart/form-data">
            <input type="hidden" asp-for="Urun.Id" />
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                @if (ViewBag.kategori == "True")
                                {
                                    <div class="form-group">
                                        <label for="exampleSelect1">Kategori</label>
                                        <select asp-for="Urun.UrunKategoriId" class="form-control">
                                            @foreach (var item in Model.UrunKategorileri)
                                            {
                                                <option value="@item.Id">@item.Isim</option>
                                            }


                                        </select>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Urun.UrunKategoriId" value="1" />
                                }

                                <div class="form-group">
                                    <label>Ad</label>
                                    <input asp-for="Urun.Isim" class="form-control" placeholder="Ad" />
                                </div>
                                <div class="form-group">
                                    <label>SEO</label>
                                    <input asp-for="Urun.SEO" class="form-control" placeholder="SEO" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ürün Kodu</label>
                                            <input asp-for="Urun.Kod" class="form-control" placeholder="Ürün Kodu" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Sıralama No</label>
                                            <input asp-for="Urun.SıraNo" class="form-control" placeholder="Sıralama No" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-1">
                                    <label>Özet</label>
                                    <textarea asp-for="Urun.Ozet" class="form-control"></textarea>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea asp-for="Urun.Detay" class="form-control" rows="3" style="height: 127px;"></textarea>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim" height="160" width="160" src="~/img/@Model.Urun.Gorsel" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(1)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-2</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_2" height="160" width="160" src="~/img/@Model.Urun.Gorsel_2" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_2" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(2)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-3</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_3" height="160" width="160" src="~/img/@Model.Urun.Gorsel_3" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_3" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(3)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-4</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_4" height="160" width="160" src="~/img/@Model.Urun.Gorsel_4" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_4" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(4)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-5</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_5" height="160" width="160" src="~/img/@Model.Urun.Gorsel_5" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_5" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(5)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-6</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_6" height="160" width="160" src="~/img/@Model.Urun.Gorsel_6" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_6" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır(6)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ad(EN)</label>
                                    <input asp-for="Urun.IsimEN" class="form-control" placeholder="Ad" />
                                </div>
                                <div class="form-group">
                                    <label>SEO(EN)</label>
                                    <input asp-for="Urun.SEOEN" class="form-control" placeholder="SEO" />
                                </div>
                                <div class="form-group mb-1">
                                    <label>Özet(EN)</label>
                                    <textarea asp-for="Urun.OzetEN" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea asp-for="Urun.DetayEN" class="form-control" rows="3" style="height: 127px;"></textarea>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimEN" height="160" width="160" src="~/img/@Model.Urun.GorselEN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="GorselEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(1)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-2(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_2EN" height="160" width="160" src="~/img/@Model.Urun.Gorsel_2EN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_2EN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(2)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-3(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_3EN" height="160" width="160" src="~/img/@Model.Urun.Gorsel_3EN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_3EN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(3)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-4(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_4EN" height="160" width="160" src="~/img/@Model.Urun.Gorsel_4EN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_4EN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(4)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-5(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_5EN" height="160" width="160" src="~/img/@Model.Urun.Gorsel_5EN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_5EN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(5)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                                <div class="form-group float-md-left">
                                    <div class="mt-4">Görsel-6(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim_6EN" height="160" width="160" src="~/img/@Model.Urun.Gorsel_6EN" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" asp-for="Gorsel_6EN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN(6)" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <input type="submit" value="Kaydet" onclick="return urunEkle()" class="btn btn-primary mr-2" />
                    <button asp-action="Urunler" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                </div>
            </div>
        </form>
        <!--begin::Form-->
        <!--end::Form-->
    </div>
</div>
@section Javascript{

    <script type="text/javascript">
        var sayi;
        function gorselKaldır(sayi) {
                var Id = @Html.Raw(Model.Urun.Id);
                var data = new FormData();
            data.append("Id", Id);
            data.append("dil", "tr");
            data.append("sayi", sayi);
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("UrunGorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        if (sayi == 1) {
                            $("#Resim").attr('src', '/img/null.png');
                            $('#Gorsel').val("");
                        }
                        else if (sayi == 2) {
                            $("#Resim_2").attr('src', '/img/null.png');
                            $('#Gorsel_2').val("");
                        }
                        else if (sayi == 3) {
                            $("#Resim_3").attr('src', '/img/null.png');
                            $('#Gorsel_3').val("");
                        }
                        else if (sayi == 4) {
                            $("#Resim_4").attr('src', '/img/null.png');
                            $('#Gorsel_4').val("");
                        }
                        else if (sayi == 5) {
                            $("#Resim_5").attr('src', '/img/null.png');
                            $('#Gorsel_5').val("");
                        }
                        else if (sayi == 6) {
                            $("#Resim_6").attr('src', '/img/null.png');
                            $('#Gorsel_6').val("");
                        }
                        
                    }
                });
                }
            });

        };

        function gorselKaldırEN(sayi) {
                var Id = @Html.Raw(Model.Urun.Id);
                var data = new FormData();
            data.append("Id", Id);
            data.append("dil", "en");
            data.append("sayi", sayi);
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("UrunGorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        if (sayi == 1) {
                            $("#ResimEN").attr('src', '/img/null.png');
                            $('#GorselEN').val("");
                        }
                        else if (sayi == 2) {
                            $("#Resim_2EN").attr('src', '/img/null.png');
                            $('#Gorsel_2EN').val("");
                        }
                        else if (sayi == 3) {
                            $("#Resim_3EN").attr('src', '/img/null.png');
                            $('#Gorsel_3EN').val("");
                        }
                        else if (sayi == 4) {
                            $("#Resim_4EN").attr('src', '/img/null.png');
                            $('#Gorsel_4EN').val("");
                        }
                        else if (sayi == 5) {
                            $("#Resim_5EN").attr('src', '/img/null.png');
                            $('#Gorsel_5EN').val("");
                        }
                        else if (sayi == 6) {
                            $("#Resim_6EN").attr('src', '/img/null.png');
                            $('#Gorsel_6EN').val("");
                        }
                    }
                });
                }
            });

        };
        $("#Urun_SEO").on('keyup change', function () {
            validateSEOInput('Urun_SEO');
        });

        $('#Urun_SEO').bind("keyup focusout", function () {
            validateSEOInput('Urun_SEO');
        });

        $("#Urun_SEOEN").on('keyup change', function () {
            validateSEOInput('Urun_SEOEN');
        });

        $('#Urun_SEOEN').bind("keyup focusout", function () {
            validateSEOInput('Urun_SEOEN');
        });



        function validateSEOInput(id) {
            var charMap = { Ç: 'c', Ö: 'o', Ş: 's', İ: 'i', I: 'i', Ü: 'u', Ğ: 'g', ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g' };
            var str = $("#" + id).val();
            str_array = str.split('');
            for (var i = 0, len = str_array.length; i < len; i++) {
                str_array[i] = charMap[str_array[i]] || str_array[i];
            }
            str = str_array.join('');
            var clearStr = str.replace("&", "-").replace(",", "").replace(".", "").replace(" ", "-").replace("--", "-").replace("/", "").replace(/'/g, "").toLowerCase();
            $("#" + id).val(clearStr);
        }





        $(document).ready(function () {
            CKEDITOR.replace('Urun.Detay');
            CKEDITOR.replace('Urun.DetayEN');

            $("#Gorsel").change(function (e) {

                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_2").change(function (e) {

                $("#Resim_2").removeAttr('src');
                $("#Resim_2").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_3").change(function (e) {

                $("#Resim_3").removeAttr('src');
                $("#Resim_3").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_4").change(function (e) {

                $("#Resim_4").removeAttr('src');
                $("#Resim_4").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_5").change(function (e) {

                $("#Resim_5").removeAttr('src');
                $("#Resim_5").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_6").change(function (e) {

                $("#Resim_6").removeAttr('src');
                $("#Resim_6").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#GorselEN").change(function (e) {

                $("#ResimEN").removeAttr('src');
                $("#ResimEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_2EN").change(function (e) {

                $("#Resim_2EN").removeAttr('src');
                $("#Resim_2EN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_3EN").change(function (e) {

                $("#Resim_3EN").removeAttr('src');
                $("#Resim_3EN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_4EN").change(function (e) {

                $("#Resim_4EN").removeAttr('src');
                $("#Resim_4EN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_5EN").change(function (e) {

                $("#Resim_5EN").removeAttr('src');
                $("#Resim_5EN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#Gorsel_6EN").change(function (e) {

                $("#Resim_6EN").removeAttr('src');
                $("#Resim_6EN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });

        $(document).ready(function () {
            habervalidator = $("#haberform").validate({
                rules: {
                    'Urun.Isim': {
                        required: true,
                    },
                    'Urun.SEO': {
                        required: true
                    }
                },
                messages: {
                    'Urun.Isim': {
                        required: "Bu alan boş geçilemez."
                    },
                    'Urun.SEO': {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });


        var habervalidator;

        function urunEkle() {
            if (habervalidator.form()) {
                return true;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>

}

