﻿@model Zemedya.Entity.Concrete.MediaEntities.VideoMediaCategory
@{
    ViewData["Title"] = "VideoMediaItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    @Model.NameTR
                </h3>
            </div>

            <div>
                <a href="/Panel/videoMediaItemAddOrUpdate?videoMediaCategoryId=@Model.Id" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Öğe Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            @if (Model.VideoMediaItems.Count > 0)
            {
                <div class="row">

                    @foreach (var item in Model.VideoMediaItems)
                    {
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-img-top">
                                    <iframe frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"
                                            src="https://www.youtube.com/embed/@item.video">
                                    </iframe>
                                </div>
                                <div class="card-body p-3">
                                    <p class="card-text text-center m-0">@item.DescriptionTR</p>
                                </div>
                                <div class="card-footer p-3 d-flex justify-content-between">
                                    <a href="/Panel/VideoMediaItemAddOrUpdate?id=@item.Id" class="btn btn-sm btn-icon"><i class="flaticon-edit-1"></i></a>
                                    <button onclick="DeleteMessage('/Panel/VideoMediaItemDelete?id=@item.Id&videoMediaCategoryId=@Model.Id')" class="btn btn-sm btn-icon"><i class="flaticon-delete-1"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-secondary text-center" role="alert">
                    Öğe yok.
                </div>
            }
        </div>
    </div>
</div>

@section Javascript{
    <script>
        function DeleteMessage(url) {
            Swal.fire({
                title: 'Silmek istiyor musunuz?',
                text: "Bu işlemi geri alamazsınız!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Kapat',
                confirmButtonText: 'Evet, sil!'
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location = url;
                }
            })
        }
    </script>
}


