﻿@model Zemedya.Entity.Concrete.MediaEntities.VideoMediaItem
@{
    ViewData["Title"] = "VideoMediaItemAddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="POST" enctype="multipart/form-data" class="container" id="categoryListItemForm">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Video Media Category
                </h3>
            </div>

            <div>
                <button type="submit" class="btn btn-primary font-weight-bolder">
                    Kaydet
                </button>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="VideoMediaCategoryId" />
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Link</label>
                    <input class="form-control" required="required" type="text" asp-for="video" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Javascript{
    <script>
        $("#categoryListItemForm").validate({
            lang: 'tr',
            submitHandler: function (form) {
                form.submit();
            }
        });

    </script>
}

