﻿@model IEnumerable<Zemedya.Entity.Concrete.YoneticiEntities.Yonetici>
@{
    ViewData["Title"] = "Yoneticiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Kullanıcı Listesi
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Ad</th>
                            <th scope="col">Soyad</th>
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">E-Posta</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Ad</td>
                                <td>@item.Soyad</td>
                                <td>@item.KullaniciAdi</td>
                                <td>@item.Email</td>
                                <td>
                                    @if (item.Aktif)
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                    }

                                </td>
                                <td>
                                    <a data-id="@item.Id" data-toggle="modal" data-target="#kullaniciGuncelle" class="guncelle"><i class="flaticon-refresh text-warning icon-xl ml-8 btn"></i></a>
                                </td>
                                <td>
                                    <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                                </td>

                            </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

 
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-5 ml-5" id="exampleModalLongTitle">Kullanıcı Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="card-body">
                    <form method="post" id="kullaniciForm">

                        <div class="form-group">
                            <label>Ad</label>
                            <input type="text" class="form-control" id="Ad" name="Ad" placeholder="Ad" />
                        </div>
                        <div class="form-group">
                            <label>Soyad</label>
                            <input type="text" class="form-control" id="Soyad" name="Soyad" placeholder="Soyad" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="KullaniciAdi" name="KullaniciAdi" placeholder="Kullanıcı Adı" />
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="text" class="form-control" id="Sifre" name="Sifre" placeholder="Şifre" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                            <button type="submit" onclick="return kullaniciEkle()" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                    end::Form

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="kullaniciGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-5 ml-5" id="exampleModalLongTitle">Kullanıcı Güncelle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="card-body">
                    <form method="post" id="GuncelleForm">
                        <input type="hidden" id="Id" value="" />
                        <div class="form-group">
                            <label>Ad</label>
                            <input type="text" class="form-control" id="AdGuncel" name="AdGuncel" placeholder="Ad" />
                        </div>
                        <div class="form-group">
                            <label>Soyad</label>
                            <input type="text" class="form-control" id="SoyadGuncel" name="SoyadGuncel" placeholder="Soyad" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="EmailGuncel" name="EmailGuncel" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="KullaniciAdiGuncel" name="KullaniciAdiGuncel" placeholder="Kullanıcı Adı" />
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="text" class="form-control" id="SifreGuncel" name="Sifre" placeholder="ŞifreGuncel" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                            <button type="submit" onclick="return kullaniciGuncelle()" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirKullanici", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Kullanıcı silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("KullaniciSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Kullanıcı Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });

        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var Id = $(this).attr("data-id");
                $('#Id').val(Id);
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("KullaniciGetir", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        ad = data.ad;
                        soyad = data.soyad;
                        email = data.email;
                        kullaniciadi = data.kullaniciadi;
                        sifre = data.sifre;
                        $('#AdGuncel').val(ad);
                        $('#SoyadGuncel').val(soyad);
                        $('#EmailGuncel').val(email);
                        $('#KullaniciAdiGuncel').val(kullaniciadi);
                        $('#SifreGuncel').val(sifre);
                    }
                });
            });
        });



        $(document).ready(function () {
            habervalidator = $("#kullaniciForm").validate({
                rules: {
                    Ad: {
                        required: true,
                    },
                    Soyad: {
                        required: true,
                    },
                    Email: {
                        required: true,
                    },
                    KullaniciAdi: {
                        required: true,
                    },
                    Sifre: {
                        required: true,
                    }
                },
                messages: {
                    Ad: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Soyad: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Email: {
                        required: "Bu alan boş geçilemez.",
                    },
                    KullaniciAdi: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Sifre: {
                        required: "Bu alan boş geçilemez.",
                    }
                }
            });
        });

        function KullaniciEkle() {
            var data = new FormData();
            data.append("Ad", $('#Ad').val());
            data.append("Soyad", $('#Soyad').val());
            data.append("Email", $('#Email').val());
            data.append("KullaniciAdi", $('#KullaniciAdi').val());
            data.append("Sifre", $('#Sifre').val());

            $.ajax({
                url: '@Url.Action("KullaniciEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Kullanıcı Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Kullanıcı Adı sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator;

        function kullaniciEkle() {
            if (habervalidator.form()) {
                KullaniciEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }



        $(document).ready(function () {
            guncellevalidator = $("#GuncelleForm").validate({
                rules: {
                    Ad: {
                        required: true,
                    },
                    Soyad: {
                        required: true,
                    },
                    Email: {
                        required: true,
                    },
                    KullaniciAdi: {
                        required: true,
                    },
                    Sifre: {
                        required: true,
                    }
                },
                messages: {
                    Ad: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Soyad: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Email: {
                        required: "Bu alan boş geçilemez.",
                    },
                    KullaniciAdi: {
                        required: "Bu alan boş geçilemez.",
                    },
                    Sifre: {
                        required: "Bu alan boş geçilemez.",
                    }
                }
            });
        });

        function KullaniciGuncelle() {
            var data = new FormData();
            data.append("Id", $('#Id').val());
            data.append("Ad", $('#AdGuncel').val());
            data.append("Soyad", $('#SoyadGuncel').val());
            data.append("Email", $('#EmailGuncel').val());
            data.append("KullaniciAdi", $('#KullaniciAdiGuncel').val());
            data.append("Sifre", $('#SifreGuncel').val());

            $.ajax({
                url: '@Url.Action("KullaniciGuncelle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Kullanıcı Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Kullanıcı Adı sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var guncellevalidator;

        function kullaniciGuncelle() {
            if (guncellevalidator.form()) {
                KullaniciGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

    </script>

}
