﻿@model Zemedya.Model.DTO.MevcutSayfalarDTOs.MevcutSayfalarDTO




<div class="topbar-item ">
    <a href="/Panel/Slider" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">SLIDER</a>
</div>
<div class="topbar-item ">
    <a class="font-size-h6 font-size-h6 btn btn-primary dropdown-toggle btn-hover-transparent-white btn-lg btn-dropdown mr-1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        CORPORATE
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/Panel/Corporate">CORPORATE</a>
        <a class="dropdown-item" href="/Panel/team">ORGANİZATION</a>
        <a class="dropdown-item" href="/Panel/Membership">MEMBERSHİP</a>
        <a class="dropdown-item" href="/Panel/Certificates">CERTİFİCATES</a>
    </div>


    @*<a href="/Panel/Corporate" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">CORPORATE</a>*@
</div>
@*<div class="topbar-item ">
    <a href="/Panel/team" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">ORGANİZATION</a>
</div>*@





<div class="topbar-item ">
    <a href="/Panel/Solutions" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">SOLUTIONS</a>
</div>


<div class="topbar-item ">
    <a href="/Panel/SolutionPartners" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">SOLUTION PARTNERS</a>
</div>


<div class="topbar-item ">
    <a href="/Panel/Referans" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">REFERANSLAR</a>
</div>



<div class="topbar-item">
    <a class="font-size-h6 font-size-h6 btn btn-primary dropdown-toggle btn-hover-transparent-white btn-lg btn-dropdown mr-1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        GALERİ
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/Panel/Galeri">Fotoğraf İşlemleri</a>
        <a class="dropdown-item" href="/Panel/GaleriKategori">Kategori İşlemleri</a>
    </div>
</div>


<div class="topbar-item ">
    <a href="/Panel/Career" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">CAREER-R&D</a>
</div>
<div class="topbar-item ">
    <a href="/Panel/Press" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">BASIN</a>
</div>
<div class="topbar-item ">
    <a href="/Panel/Iletisim" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">İLETİŞİM</a>
</div>
<div class="topbar-item ">
    <a href="/Panel/Media" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">MEDIA</a>
</div>





<div class="topbar-item ">
    <a href="/Panel/Ayarlar" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">AYARLAR</a>
</div>


<div class="topbar-item float-right">
    <a class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1" href="/Panel/Yoneticiler">YÖNETİCİLER</a>
</div>

<div class="topbar-item float-right">
    <a class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1 float-right" href="/Panel/CıkısYap"><i class="flaticon-logout"></i>Çıkış</a>
</div>
