﻿@model Zemedya.Model.VM.Page.NavbarVM


<header class="header header-sticky" id="navbarTR">
    <div class="container">
        <div class="row m-0">
            <div class="col p-0">
                <ul class="nav justify-content-end">
                    @{
                        var socialList = new List<Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO>();

                        socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.FacebookOrder, Link = Model.Ayarlar.Facebook });
                        socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.TwitterOrder, Link = Model.Ayarlar.Twitter });
                        socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.LinkedinOrder, Link = Model.Ayarlar.Linkedin });
                        socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.YoutubeOrder, Link = Model.Ayarlar.Youtube });
                        socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.InstagramOrder, Link = Model.Ayarlar.Instagram });


                        foreach (var item in socialList.OrderBy(x => x.Order))
                        {
                            if (item.Link != null && item.Link != "")
                            {
                                var icon = "";

                                if (item.Link.ToLower().Contains("facebook"))
                                {
                                    icon = "<i class='icon-facebook'></i>";
                                }
                                else if (item.Link.ToLower().Contains("instagram"))
                                {
                                    icon = "<i class='icon-instagram'></i>";
                                }
                                else if (item.Link.ToLower().Contains("twitter"))
                                {
                                    icon = "<i class='icon-twitter'></i>";
                                }
                                else if (item.Link.ToLower().Contains("linkedin"))
                                {
                                    icon = "<i class='icon-linkedin'></i>";
                                }
                                else if (item.Link.ToLower().Contains("youtube"))
                                {
                                    icon = "<i class='icon-youtube'></i>";
                                }



                                <li class="nav-item">
                                    <a class="nav-link px-1" href="@item.Link">@Html.Raw(icon)</a>
                                </li>
                            }
                        }

                    }
                    <li class="nav-item">
                        <a class="dropdown-item p-1 small font-weight-bolder" target="_blank" href="~/@Model.KurumsalDTO.Gorsel">Broşür</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg justify-content-between justify-content-between">
                <a href="/tr" class="navbar-brand mr-3"><img src="/img/@Model.Ayarlar.Logo" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KURUMSAL</a>
                            <ul class="dropdown-menu">
                                @{var i = 0; }
                                @foreach (var item in Model.BlogKategorileri)
                                {
                                    <li><a class="dropdown-item" href="/kurumsal/@item.SEO">@item.Isim</a></li>
                                    if (i == 0)
                                    {
                                        @*<li><a class="dropdown-item" href="/kurumsal/organizasyon">Organizasyon</a></li>*@
                                        <li><a class="dropdown-item" href="/kurumsal/uyelikler">Üyelikler</a></li>
                                    }
                                    i++;
                                    if (i == Model.BlogKategorileri.Count)
                                    {
                                        <li><a class="dropdown-item" href="/kurumsal/sertifikalar">Sertifikalar</a></li>
                                        <li><a class="dropdown-item" href="/referanslar">Referanslar</a></li>
                                    }
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ÇÖZÜMLER</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.DuyuruListesi)
                                {
                                    if (item.Id != 7 && item.Id != 8 && item.Id != 9 && item.Id != 10 && item.Id != 11 && item.Id != 12 && item.Id != 13)
                                    {
                                        <li><a class="dropdown-item" href="/cozumler/@item.SEO">@item.Isim</a></li>
                                    }
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PARTNERLER</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.EtkinlikListesi)
                                {
                                    <li><a class="dropdown-item" href="/partnerler/@item.SEO">@item.Isim</a></li>
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İNOVASYON</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/inovasyon">@Model.VideoDTO.Ad</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kariyer</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.Videolar)
                                {
                                    <li><a class="dropdown-item" href="/kariyer/@item.Baslik">@item.Ad</a></li>
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MEDYA</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.MediaListesi)
                                {
                                    <li><a class="dropdown-item" href="/media/@item.SEO">@item.Isim</a></li>
                                }
                                <li><a class="dropdown-item" href="/resimgaleri">Resim Galeri</a></li>
                                <li><a class="dropdown-item" href="/videogaleri">Video Galeri</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/basin"> BASINDA BİZ</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/tr"> İLETİŞİM</a>

                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarMenu2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link dil-renk LanguageTR" href="/tr">TR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dil-renk LanguageEN" href="/">EN</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<header class="header header-sticky" id="navbarEN">
    <div class="container">
        <div class="row m-0">
            <div class="col p-0">
                <ul class="nav justify-content-end">
                    @{

                        foreach (var item in socialList.OrderBy(x => x.Order))
                        {
                            if (item.Link != null && item.Link != "")
                            {
                                var icon = "";

                                if (item.Link.ToLower().Contains("facebook"))
                                {
                                    icon = "<i class='icon-facebook'></i>";
                                }
                                else if (item.Link.ToLower().Contains("instagram"))
                                {
                                    icon = "<i class='icon-instagram'></i>";
                                }
                                else if (item.Link.ToLower().Contains("twitter"))
                                {
                                    icon = "<i class='icon-twitter'></i>";
                                }
                                else if (item.Link.ToLower().Contains("linkedin"))
                                {
                                    icon = "<i class='icon-linkedin'></i>";
                                }
                                else if (item.Link.ToLower().Contains("youtube"))
                                {
                                    icon = "<i class='icon-youtube'></i>";
                                }



                                <li class="nav-item">
                                    <a class="nav-link px-1" href="@item.Link">@Html.Raw(icon)</a>
                                </li>
                            }
                        }

                    }
                    <li class="nav-item">
                        <a class="dropdown-item p-1 small font-weight-bolder" target="_blank" href="~/@Model.KurumsalDTO.Gorsel">Brochure</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg justify-content-between justify-content-between">
                <a href="/" class="navbar-brand mr-3"><img src="/img/@Model.Ayarlar.Logo" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Corporate</a>
                            <ul class="dropdown-menu">
                                @{var j = 0; }
                                @foreach (var item in Model.BlogKategorileri)
                                {
                                    <li><a class="dropdown-item" href="/corporate/@item.SEOEN">@item.IsimEN</a></li>
                                    if (j == 0)
                                    {
                                        @*<li><a class="dropdown-item" href="/corporate/organization">Organization</a></li>*@
                                        <li><a class="dropdown-item" href="/corporate/membership">Membership</a></li>
                                    }
                                    j++;
                                    if (j == Model.BlogKategorileri.Count)
                                    {
                                        <li><a class="dropdown-item" href="/corporate/certificates">Certificates</a></li>
                                        <li><a class="dropdown-item" href="/references">References</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SOLUTIONS</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.DuyuruListesi)
                                {
                                    if (item.Id != 7 && item.Id != 8 && item.Id != 9 && item.Id != 10 && item.Id != 11 && item.Id != 12 && item.Id != 13)
                                    {
                                        <li><a class="dropdown-item" href="/solutions/@item.SEOEN">@item.IsimEN</a></li>
                                    }
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SOLUTION PARTNERS</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.EtkinlikListesi)
                                {
                                    <li><a class="dropdown-item" href="/solution-partners/@item.SEOEN">@item.IsimEN</a></li>
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INNOVATION</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/innovation">@Model.VideoDTO.AdEN</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Career</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.Videolar)
                                {
                                    <li><a class="dropdown-item" href="/career/@item.BaslikEN">@item.AdEN</a></li>
                                }


                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MEDIA</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.MediaListesi)
                                {
                                    <li><a class="dropdown-item" href="/media/@item.SEOEN">@item.IsimEN</a></li>
                                }
                                <li><a class="dropdown-item" href="/imagegallery">Image Gallery</a></li>
                                <li><a class="dropdown-item" href="/videogallery">Video Gallery</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/press">Press Bulletin</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/en">Contact Us</a>

                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarMenu2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link dil-renk LanguageTR" href="/tr">TR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dil-renk LanguageEN" href="/">EN</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>








