﻿

<!doctype html>
<html class="wide wow-animation" lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta @ViewData["googledogrulama"]>
    <title id="Title">@ViewData["Title"]</title>
    <link rel="shortcut icon" id="icon" href="~/img/@ViewData["favicon"]" type="image/x-icon">
    <meta name="description" content="@ViewData["description"]">
    <link rel="stylesheet" href="~/Platinum/assets/css/vendor.css" />
    <link rel="stylesheet" href="~/Platinum/assets/css/style.css" />

    <link rel="stylesheet" href="~/Platinum/assets/css/jquery.fancybox.min.css" />



    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@ViewData["googleanalytics"]', 'auto');
        ga('send', 'pageview');

    </script>


</head>

<body>
    @await Component.InvokeAsync("Navbar")
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    <script src="~/Platinum/assets/js/vendor.min.js"></script>
    <script src="~/Platinum/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/Platinum/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/jquery.validate.js"></script>
    @RenderSection("Javascript", false)
    <script type="text/javascript">



        $(".LanguageTR").on("click", function () {


            localStorage.removeItem("lang");
            localStorage.setItem("lang", "tr");
        });

        $(".LanguageEN").on("click", function () {

            localStorage.removeItem("lang");
            localStorage.setItem("lang", "en");
        });



        var lang = localStorage.getItem("lang");
        if (lang == "en") {

            document.getElementById("navbarTR").remove();
            document.getElementById("footerTR").remove();
        }
        else {

            document.getElementById("navbarEN").remove();
            document.getElementById("footerEN").remove();
        };

    </script>




</body>

</html>
