﻿.form-group .error {
    line-height: 1;
    padding: 4px 2px 2px 4px;
    color: red;
    font-size: small;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}