﻿
@{
    ViewData["Title"] = "Certificates";
    ViewData["description"] = ViewBag.descriptionEN;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                <span class="eyebrow decorated mb-1">Corporate</span>
                <h1 class="mb-2 text-shadow">Certificates</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Corporate</a></li>
                        <li class="breadcrumb-item active">Certificates</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row gutter-3 align-items-center">

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="product">
                    <figure class="product-image">
                        <a class="border" href="/Platinum/assets/images/sertifikalar/9001-en.jpg" data-fancybox="sertifikalar" data-caption="ISO 9001:2015">
                            <img src="/Platinum/assets/images/sertifikalar/9001-en.jpg" class="img-fluid">
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">ISO 9001:2015</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 mb-3">
              <div class="product">
                <figure class="product-image">
                  <a class="border" href="assets/images/sertifikalar/9001-tr.jpg" data-fancybox="sertifikalar" data-caption="ISO 9001:2015" >
                    <img src="assets/images/sertifikalar/9001-tr.jpg" class="img-fluid">
                  </a>
                </figure>
                <div class="product-meta">
                  <h3 class="product-title">ISO 9001:2015</h3>
                </div>
              </div>
            </div> -->
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="product">
                    <figure class="product-image">
                        <a class="border" href="/Platinum/assets/images/sertifikalar/10002-en.jpg" data-fancybox="sertifikalar" data-caption="ISO 10002:2018">
                            <img src="/Platinum/assets/images/sertifikalar/10002-en.jpg" class="img-fluid">
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">ISO 10002:2018</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 mb-3">
              <div class="product">
                <figure class="product-image">
                  <a class="border" href="assets/images/sertifikalar/10002-tr.jpg" data-fancybox="sertifikalar" data-caption="ISO 10002:2018" >
                    <img src="assets/images/sertifikalar/10002-tr.jpg" class="img-fluid">
                  </a>
                </figure>
                <div class="product-meta">
                  <h3 class="product-title">ISO 10002:2018</h3>
                </div>
              </div>
            </div> -->
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="product">
                    <figure class="product-image">
                        <a class="border" href="/Platinum/assets/images/sertifikalar/14001-en.jpg" data-fancybox="sertifikalar" data-caption="ISO 14001:2015">
                            <img src="/Platinum/assets/images/sertifikalar/14001-en.jpg" class="img-fluid">
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">ISO 14001:2015</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 mb-3">
              <div class="product">
                <figure class="product-image">
                  <a class="border" href="assets/images/sertifikalar/14001-tr.jpg" data-fancybox="sertifikalar" data-caption="ISO 14001:2015" >
                    <img src="assets/images/sertifikalar/14001-tr.jpg" class="img-fluid">
                  </a>
                </figure>
                <div class="product-meta">
                  <h3 class="product-title">ISO 14001:2015</h3>
                </div>
              </div>
            </div> -->
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="product">
                    <figure class="product-image">
                        <a class="border" href="/Platinum/assets/images/sertifikalar/IMPA-Certificate-202122---Platinum-Marine-Services.jpg" data-fancybox="sertifikalar" data-caption="ISO 10002:2018">
                            <img src="/Platinum/assets/images/sertifikalar/IMPA-Certificate-202122---Platinum-Marine-Services.jpg" class="img-fluid">
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">IMPA.NET</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

