﻿@model Zemedya.Model.DTO.IletisimDTOs.IletisimDTO
@{
    @if (ViewBag.en == "true")
    {
        ViewData["Title"] = "Contact";
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = "İletişim";
        ViewData["description"] = ViewBag.description;
    }
    ViewData["Title"] = "Contact";
    ViewData["description"] = ViewBag.descriptionEN;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}



@if (ViewBag.en == "true")
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <h1 class="mb-2 text-shadow">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row gutter-4">
                <div class="col-lg-4">
                    <h2 class="font-weight-light mb-3"><b>Contact Us</b></h2>
                    <div class="row">
                        <div class="col-12">
                            <span class="eyebrow border-bottom d-block">PLATINUM TÜRKİYE</span>
                            <small class="mb-3 d-block">Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small>
                            <span class="eyebrow mb-0">ADDRESS</span>
                            <p class="lead text-dark">Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</p>
                        </div>
                        <div class="col-12 mt-2">
                            <span class="eyebrow">OFFİCE</span>
                            <p class="lead my-1 text-dark">
                                <a href="tel:+902164464639">+90 (216) 446 46 39</a>
                            </p>
                            <span class="eyebrow">EMAIL</span>
                            <p>
                                <a href="mailto:platinum@platinum-ms.com" class="eyebrow underline action">platinum@platinum-ms.com</a>
                            </p>

                            @*<div class="d-flex">
                                <a class="adres-social" href="https://www.facebook.com/PlatinumMarineServices/"><i class="icon-facebook-o"></i></a>
                                <a class="adres-social" href="https://twitter.com/PlatinumMarineS"><i class="icon-twitter-o"></i></a>
                                <a class="adres-social" href="https://www.linkedin.com/company/10963400/"><i class="icon-linkedin-o"></i></a>
                            </div>*@

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="eyebrow border-bottom d-block">PLATINUM NETHERLANDS</span>
                            <small class="mb-3 d-block">Platinum Marine Services B.V.</small>
                            <span class="eyebrow mb-0">ADDRESS</span>
                            <p class="lead text-dark">Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</p>
                        </div>
                        <div class="col-12 mt-2">
                            <span class="eyebrow">OFFİCE</span>
                            <p class="lead my-1 text-dark">
                                <a href="tel:+31108005480">+31 (10) 800 54 80</a>
                            </p>
                            <span class="eyebrow">EMAIL</span>
                            <p>
                                <a href="mailto:platinum@platinum-ms.nl" class="eyebrow underline action">platinum@platinum-ms.nl</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 pl-lg-5">
                    <form id="Emailform" method="post">
                        <div class="row gutter-2">
                            <div class="form-group col-md-6">
                                <label>Fırst Name *</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Surname *</label>
                                <input type="text" class="form-control" id="surname" name="surname">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone *</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Emaıl *</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group col-12">
                                <label for="subject">Subject *</label>
                                <input type="text" class="form-control" id="subject" name="subject">
                            </div>
                            <div class="form-group col-12">
                                <label for="message">Message *</label>
                                <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                            </div>
                            <div class="col-12">
                                <p class="small">* fields marked are required.</p>
                            </div>
                            <div class="col-12">
                                <a href="#!" onclick="return epostaGonder()" class="btn btn-primary mt-2">Send</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <h1 class="mb-2 text-shadow">İletişim</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item active">İletişim</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row gutter-4">
                <div class="col-lg-4">
                    <h2 class="font-weight-light mb-3"><b>İletişim</b></h2>
                    <div class="row">
                        <div class="col-12">
                            <span class="eyebrow border-bottom d-block">PLATINUM TÜRKİYE</span>
                            <small class="mb-3 d-block">Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small>
                            <span class="eyebrow mb-0">ADRES</span>
                            <p class="lead text-dark">Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</p>
                        </div>
                        <div class="col-12 mt-2">
                            <span class="eyebrow">OFİS</span>
                            <p class="lead my-1 text-dark">
                                <a href="tel:+902164464639">+90 (216) 446 46 39</a>
                            </p>
                            <span class="eyebrow">EMAIL</span>
                            <p>
                                <a href="mailto:platinum@platinum-ms.com" class="eyebrow underline action">platinum@platinum-ms.com</a>
                            </p>

                            @*<div class="d-flex">
                                <a class="adres-social" href="https://www.facebook.com/PlatinumMarineServices/"><i class="icon-facebook-o"></i></a>
                                <a class="adres-social" href="https://twitter.com/PlatinumMarineS"><i class="icon-twitter-o"></i></a>
                                <a class="adres-social" href="https://www.linkedin.com/company/10963400/"><i class="icon-linkedin-o"></i></a>
                            </div>*@

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="eyebrow border-bottom d-block">PLATINUM NETHERLANDS</span>
                            <small class="mb-3 d-block">Platinum Marine Services B.V.</small>
                            <span class="eyebrow mb-0">ADRES</span>
                            <p class="lead text-dark">Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</p>
                        </div>
                        <div class="col-12 mt-2">
                            <span class="eyebrow">OFİS</span>
                            <p class="lead my-1 text-dark">
                                <a href="tel:+31108005480">+31 (10) 800 54 80</a>
                            </p>
                            <span class="eyebrow">EMAIL</span>
                            <p>
                                <a href="mailto:platinum@platinum-ms.nl" class="eyebrow underline action">platinum@platinum-ms.nl</a>
                            </p>
                        </div>
                    </div>

                    @*<div class="row">
            <div class="col-12">
                <span class="eyebrow mb-0">ADRES</span>
                <p class="lead text-dark">Istasyon Mah. Istasyon Cad. No:103, 34940 Tuzla, Istanbul, Turkey</p>
            </div>
            <div class="col-12 mt-2">
                <span class="eyebrow">TELEFON</span>
                <p class="lead my-1 text-dark">
                    +90 216 446 4639
                </p>
                <span class="eyebrow">FAX</span>
                <p class="lead my-1 text-dark">
                    +90 216 225 0856
                </p>
                <span class="eyebrow">E-POSTA</span>
                <p>
                    <a href="mailto:platinum@platinum-ms.com" class="eyebrow underline action">platinum@platinum-ms.com</a>
                </p>

                <div class="d-flex">
                    <a class="adres-social" href="https://www.facebook.com/PlatinumMarineServices/"><i class="icon-facebook-o"></i></a>
                    <a class="adres-social" href="https://twitter.com/PlatinumMarineS"><i class="icon-twitter-o"></i></a>
                    <a class="adres-social" href="https://www.linkedin.com/company/10963400/"><i class="icon-linkedin-o"></i></a>
                </div>

            </div>
        </div>*@
                </div>
                <div class="col-lg-8 pl-lg-5">
                    <form id="Emailform" method="post">
                        <div class="row gutter-2">
                            <div class="form-group col-md-6">
                                <label>İsim *</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Soyisim *</label>
                                <input type="text" class="form-control" id="surname" name="surname">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefon *</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-Posta *</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group col-12">
                                <label for="subject">Konu *</label>
                                <input type="text" class="form-control" id="subject" name="subject">
                            </div>
                            <div class="form-group col-12">
                                <label for="message">Mesaj *</label>
                                <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                            </div>
                            <div class="col-12">
                                <p class="small">* işaretli alanların doldurulası zorunludur.</p>
                            </div>
                            <div class="col-12">
                                <a href="#!" onclick="return epostaGonder()" class="btn btn-primary mt-2">Gönder</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
}



@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    surname: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "This field is required."
                    },
                    surname: {
                        required: "This field is required."
                    },
                    phone: {
                        required: "This field is required."
                    },
                    email: {
                        required: "This field is required.",
                        email: "Please enter a valid e-mail address."
                    },
                    subject: {
                        required: "This field is required."
                    },
                    message: {
                        required: "This field is required."
                    }
                }
            });
        });

        function EpostaGonder() {
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("Ad", $('#name').val());
            form.append("Soyad", $('#surname').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());

            $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Your message has been sent successfully.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Message could not be sent.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Please enter the information completely.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}


