﻿@model Zemedya.Model.DTO.BlogDTOs.BlogKategoriDTO
@{
    if (ViewBag.en == "true")
    {
        ViewData["Title"] = Model.IsimEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Isim;
        ViewData["description"] = ViewBag.description;

    }
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@if (ViewBag.en == "true")
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.GorselEN)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Corporate</span>
                    <h1 class="mb-2 text-shadow">@Model.IsimEN</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Corporate</a></li>
                            <li class="breadcrumb-item active">@Model.IsimEN</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.DetayEN)
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.Gorsel)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Kurumsal</span>
                    <h1 class="mb-2 text-shadow">@Model.Isim</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Kurumsal</a></li>
                            <li class="breadcrumb-item active">@Model.Isim</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.Detay)
                </div>
            </div>
        </div>
    </section>
}

