﻿@model Zemedya.Model.DTO.DuyuruDTOs.DuyuruDTO
@{
    if (ViewBag.en == "true")
    {
        ViewData["Title"] = Model.IsimEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Isim;
        ViewData["description"] = ViewBag.description;

    }
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@if (ViewBag.en == "true")
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.GorselEN)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Solutions</span>
                    <h2 class="mb-2 text-shadow">@Model.IsimEN</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Solutions</a></li>
                            <li class="breadcrumb-item active">@Model.IsimEN</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row gutter-4 justify-content-between">
                <div class="col-lg-12">
                    @Html.Raw(Model.DetayEN)

                    @if (Model.Galeri != null)
                    {
                        <div class="owl-carousel hizmet-slider" data-items="[3,3,2,1]" data-margin="20" data-loop="true" data-nav="true" data-autoplay="true">

                            @foreach (var item in Model.Galeri)
                            {
                                <div class="card card-equal equal-150">
                                    <div class="stretch">
                                        <div class="card-body p-0">
                                            <a data-fancybox="activities" href="/img/@item.GorselEN"><img src="/img/@item.GorselEN" class="img-fluid"></a>
                                        </div>
                                    </div>
                                </div>
                            }



                        </div>
                    }




                    @Html.Raw(Model.Detay2EN)


                    @*<p class="text-center mb-2">For more information on the service we offer, or any of our products please contact us.</p>*@

                    @if (Model.Id == 2 || Model.Id == 6 || Model.Id == 7 || Model.Id == 8 || Model.Id == 9 || Model.Id == 10 || Model.Id == 11 || Model.Id == 12 || Model.Id == 13)
                    {
                        <h4 class="text-center text-secondary"><a href="mailto:service@platinum-ms.com" class="btn btn-success px-5 shadow">service@platinum-ms.com</a></h4>
                    }
                    else if (Model.Id == 5)
                    {

                        <h4 class="text-center text-secondary"><a href="mailto:projects@platinum-ms.com" class="btn btn-success px-5 shadow">projects@platinum-ms.com</a></h4>
                    }
                    else if (Model.Id == 3)
                    {

                        <h4 class="text-center text-secondary"><a href="mailto:sales@platinum-ms.com" class="btn btn-success px-5 shadow">sales@platinum-ms.com</a></h4>
                    }
                    else
                    {
                        <h4 class="text-center text-secondary"><a href="mailto:supply@platinum-ms.com" class="btn btn-success px-5 shadow">supply@platinum-ms.com</a></h4>
                    }



                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="partners">
                        <h2 class="eyebrow">References</h2>
                        <div class="owl-carousel owl-carousel-alt" data-items="[6,4,4,2]" data-loop="true" data-nav="true" data-autoplay="true">
                            @if (Model.Referans.Count != 0)
                            {
                                foreach (var item in Model.Referans)
                                {
                                    <a href="/references"><img src="~/img/@item.Gorsel"></a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.Gorsel)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Çözümler</span>
                    <h2 class="mb-2 text-shadow">@Model.Isim</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Çözümler</a></li>
                            <li class="breadcrumb-item active">@Model.Isim</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row gutter-4 justify-content-between">
                <div class="col-lg-12">
                    @Html.Raw(Model.Detay)

                    @if (Model.Galeri != null)
                    {
                        <div class="owl-carousel hizmet-slider" data-items="[3,3,2,1]" data-margin="20" data-loop="true" data-nav="true" data-autoplay="true">

                            @foreach (var item in Model.Galeri)
                            {
                                <div class="card card-equal equal-150">
                                    <div class="stretch">
                                        <div class="card-body p-0">
                                            <a data-fancybox="activities" href="/img/@item.Gorsel"><img src="/img/@item.Gorsel" class="img-fluid"></a>
                                        </div>
                                    </div>
                                </div>
                            }



                        </div>
                    }




                    @Html.Raw(Model.Detay2)



                    @*<p class="text-center mb-2">For more information on the service we offer, or any of our products please contact us.</p>*@

                    @if (Model.Id == 2 || Model.Id == 6 || Model.Id == 7 || Model.Id == 8 || Model.Id == 9 || Model.Id == 10 || Model.Id == 11 || Model.Id == 12 || Model.Id == 13)
                    {
                        <h4 class="text-center text-secondary"><a href="mailto:service@platinum-ms.com" class="btn btn-success px-5 shadow">service@platinum-ms.com</a></h4>
                    }
                    else if (Model.Id == 3)
                    {

                        <h4 class="text-center text-secondary"><a href="mailto:sales@platinum-ms.com" class="btn btn-success px-5 shadow">sales@platinum-ms.com</a></h4>
                    }
                    else if (Model.Id == 5)
                    {

                        <h4 class="text-center text-secondary"><a href="mailto:projects@platinum-ms.com" class="btn btn-success px-5 shadow">projects@platinum-ms.com</a></h4>
                    }
                    else
                    {
                        <h4 class="text-center text-secondary"><a href="mailto:supply@platinum-ms.com" class="btn btn-success px-5 shadow">supply@platinum-ms.com</a></h4>
                    }


                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="partners">
                        <h2 class="eyebrow">Referanslar</h2>
                        <div class="owl-carousel owl-carousel-alt" data-items="[6,4,4,2]" data-loop="true" data-nav="true" data-autoplay="true">
                            @if (Model.Referans.Count != 0)
                            {
                                foreach (var item in Model.Referans)
                                {
                                    <a href="/referanslar"><img src="~/img/@item.Gorsel"></a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}












