﻿@model Zemedya.Model.DTO.EtkinlikDTOs.EtkinlikDTO
@{
    if (ViewBag.en == "true")
    {
        ViewData["Title"] = Model.IsimEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Isim;
        ViewData["description"] = ViewBag.description;

    }
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@if (ViewBag.en == "true")
{
    <section class="hero pb-5">

        <span class="image image-overlay" style="background-image: url(/img/@Model.GorselEN)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Solution Partners</span>
                    <h1 class="mb-2 text-shadow">For @Model.IsimEN</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Solution Partners</a></li>
                            <li class="breadcrumb-item active">For @Model.IsimEN</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">

                        <div class="col-lg-5 mr-auto">
                            @Html.Raw(Model.DetayEN)
                        </div>
                        <div class="col-lg-6">
                            <img src="~/img/@Model.Gorsel2EN" class="w-100 shadow">
                        </div>

                    </div>
                    @if (Model.Detay2 != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(Model.Detay2EN)
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </section>
}
else
{
    <section class="hero pb-5">

        <span class="image image-overlay" style="background-image: url(/img/@Model.Gorsel)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Partnerler</span>
                    <h1 class="mb-2 text-shadow">@Model.Isim</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Partnerler</a></li>
                            <li class="breadcrumb-item active">@Model.Isim</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">

                        <div class="col-lg-5 mr-auto">
                            @Html.Raw(Model.Detay)
                        </div>
                        <div class="col-lg-6">
                            <img src="~/img/@Model.Gorsel2" class="w-100 shadow">
                        </div>

                    </div>
                    @if (Model.Detay2 != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(Model.Detay2)
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </section>
}

