﻿@model Zemedya.Model.DTO.VideoDTOs.VideoDTO
@{
    if (ViewBag.en == "true")
    {
        ViewData["Title"] = Model.AdEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Ad;
        ViewData["description"] = ViewBag.description;

    }
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@if (ViewBag.en == "true")
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.GorselEN)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Career</span>
                    <h1 class="mb-2 text-shadow">@Model.AdEN</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Career</a></li>
                            <li class="breadcrumb-item active">@Model.AdEN</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">
                        @Html.Raw(Model.VideoUrlEN)
                    </div>
                </div>

            </div>

        </div>
    </section>
}
else
{
    <section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(/img/@Model.Gorsel)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Kariyer</span>
                    <h1 class="mb-2 text-shadow">@Model.Ad</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Kariyer</a></li>
                            <li class="breadcrumb-item active">@Model.Ad</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">
                        @Html.Raw(Model.VideoUrl)
                    </div>
                </div>

            </div>

        </div>
    </section>
}




@if (Model.Id == 1)
{
    var openPositions = (ViewBag.OpenPosition as List<Zemedya.Entity.Concrete.AcikPozisyonEtities.AcikPozisyon>);

    if (openPositions.Count > 0)
    {
        if (ViewBag.en == "true")
        {
            <section>
                <div class="container">
                    <h2>Open Positions</h2>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in openPositions)
                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <span>
                                    @item.NameEn (@item.City)
                                </span>
                                <span>
                                    <a href="/openposition/@item.NameEn">Detail</a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </section>


            @*<section>
                    <div class="container">
                        <form id="Emailform" method="post">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="row gutter-2">
                                        <div class="form-group col-md-6">
                                            <label>Fırst Name *</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Surname *</label>
                                            <input type="text" class="form-control" id="surname" name="surname">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Phone *</label>
                                            <input type="tel" class="form-control" id="phone" name="phone">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Emaıl *</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="subject">Subject *</label>
                                            <input type="text" class="form-control" id="subject" name="subject">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="message">Message *</label>
                                            <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                                        </div>
                                        <div class="col-12 pb-0">
                                            <label class="mb-0">CV *</label>
                                        </div>
                                        <div class="input-group col-12">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p class="small">* fields marked are required.</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="#!" onclick="return epostaGonder()" class="btn btn-primary btn-lg px-5">JOIN US</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>


                    </div>
                </section>*@
        }
        else
        {
            <section>
                <div class="container">
                    <h2>Açık Pozisyonlar</h2>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in openPositions)
                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <span>
                                    @item.NameTr (@item.City)
                                </span>
                                <span>
                                    <a href="/acikposizyon/@item.NameTr">Detay</a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </section>


            @*<section>
                    <div class="container">
                        <form id="Emailform" method="post">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="row gutter-2">
                                        <div class="form-group col-md-6">
                                            <label>Adınız *</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Soyadınız *</label>
                                            <input type="text" class="form-control" id="surname" name="surname">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Telefon *</label>
                                            <input type="tel" class="form-control" id="phone" name="phone">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>E-Posta *</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="subject">Konu *</label>
                                            <input type="text" class="form-control" id="subject" name="subject">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="message">Mesaj *</label>
                                            <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                                        </div>
                                        <div class="col-12 pb-0">
                                            <label class="mb-0">CV *</label>
                                        </div>
                                        <div class="input-group col-12">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Dosya Seç</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p class="small">* işaretli alanların doldurulası zorunludur.</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="#!" onclick="return epostaGonder()" class="btn btn-primary btn-lg px-5">Bize Katıl</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>


                    </div>
                </section>*@

        }

    }
}


@*@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    surname: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "This field is required."
                    },
                    surname: {
                        required: "This field is required."
                    },
                    phone: {
                        required: "This field is required."
                    },
                    email: {
                        required: "This field is required.",
                        email: "Please enter a valid e-mail address."
                    },
                    subject: {
                        required: "This field is required."
                    },
                    message: {
                        required: "This field is required."
                    }
                }
            });
        });

        function EpostaGonder() {
            var file = $("#file").get(0).files;
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("Ad", $('#name').val());
            form.append("Soyad", $('#surname').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());
            form.append("dosya", file[0]);
            if (file[0] === undefined || file[0] === null) {
                swal.fire({
                    text: "Please enter the CV information.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })
            }
            else {
                $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Your message has been sent successfully.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Message could not be sent.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
            }


        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Please enter the information completely.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}*@
