﻿@model Zemedya.Model.DTO.IletisimDTOs.IletisimDTO
@{
    ViewData["Title"] = "İletişim";
    ViewData["description"] = ViewBag.description;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="alt-sayfa-baslik">
    <div class="container">
        <div class="ust-kategori-baslik">İletişim</div>
        <h1>Bize Ulaşın</h1>
    </div>
</div>

<section class="section section-lg bg-default">
    <div class="container">
        <div class="layout-bordered">
            <div class="layout-bordered__aside">
                <div class="layout-bordered__aside-item">
                    <p class="heading-8">Adres</p>
                    <div class="unit flex-row unit-spacing-xxs">
                        <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-location_on"></span></div>
                        <div class="unit__body">@Model.Adres</div>
                    </div>
                </div>

                <div class="layout-bordered__aside-item">
                    <p class="heading-8">Telefon</p>
                    <div class="unit flex-row unit-spacing-xxs">
                        <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-local_phone"></span></div>
                        <div class="unit__body"><a href="tel:#">@Model.Telefon</a></div>
                        <div class="unit__body"><a href="tel:#">@Model.Telefon</a></div>
                    </div>
                </div>
                @if (Model.Fax != null)
                {
                    <div class="layout-bordered__aside-item">
                        <p class="heading-8">Faks</p>
                        <div class="unit flex-row unit-spacing-xxs">
                            <div class="unit__left"><span class="icon icon-sm icon-primary mdi mdi-fax"></span></div>
                            <div class="unit__body"><a href="tel:#">@Model.Fax</a></div>
                        </div>
                    </div>
                }

                <div class="layout-bordered__aside-item">
                    <p class="heading-8">Sosyal Medya</p>
                    <ul class="list-inline-xs">
                        @if (ViewBag.facebook != null)
                        {
                            <li><a class="icon icon-sm icon-default fa fa-facebook" target="_blank" href="@ViewBag.facebook"></a></li>
                        }
                        @if (ViewBag.twitter != null)
                        {
                            <li><a class="icon icon-sm icon-default fa fa-twitter" target="_blank" href="@ViewBag.twitter"></a></li>
                        }
                        @if (ViewBag.linkedin != null)
                        {
                            <li><a class="icon icon-sm icon-default fa fa-linkedin" target="_blank" href="@ViewBag.linkedin"></a></li>
                        }

                    </ul>
                </div>

            </div>
            <div class="layout-bordered__main text-center">
                <div class="layout-bordered__main-inner">
                    <h3>İletişim formu</h3>
                    <p>Bize ulaşmak için alttaki formu doldurun.</p>
                    <!-- RD Mailform-->
                    <form class="rd-mailform" id="Emailform" method="post">
                        <div class="row align-items-md-end row-20">
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" placeholder="Ad/Soyad" id="name" type="text"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" id="phone" placeholder="Telefon" type="text" name="phone"
                                           >
                                    
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-wrap">
                                    
                                    <textarea class="form-input form-control-has-validation form-control-last-child" id="message"
                                              name="message" placeholder="Mesajınız"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" id="email" type="email" name="email"
                                  placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="button button-block button-primary" onclick="return epostaGonder()">Mesaj Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="kroki">
    <iframe src="@Model.HaritaKod" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>

@*<section class="contact_info_area sec_pad bg_color">
    <div class="container">


        <div class="contact_form">
            <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_100 mb_40">Leave a Message</h2>
            <form class="contact_form_box" method="post" id="Emailform">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group text_box">
                            <input type="text" id="name" name="name" placeholder="Ad ve Soyad">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group text_box">
                            <input type="text" name="email" id="email" placeholder="E-Posta Adresiniz">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group text_box">
                            <input type="text" id="subject" name="subject" placeholder="Konu">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group text_box">
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Mesajınızı buraya giriniz..."></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" onclick="return epostaGonder()" class="btn_three">Mesaj Gönder</button>
            </form>
        </div>
    </div>
</section>*@


@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "Bu alan boş geçilemez."
                    },
                    phone: {
                        required: "Bu alan boş geçilemez."
                    },
                    email: {
                        required: "Bu alan boş geçilemez.",
                        email : "Lütfen geçerli bir e-posta adresi giriniz."
                    },
                    subject: {
                        required: "Bu alan boş geçilemez."
                    },
                    message: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function EpostaGonder() {
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("AdSoyad", $('#name').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());

            $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Mesajınız başarıyla gönderildi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Mesaj Gönderilemedi.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}
