﻿@model Zemedya.Model.DTO.VideoDTOs.VideoDTO
@{
  
    ViewData["Title"] = Model.AdEN;
    ViewData["description"] = ViewBag.descriptionEN;
    
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


    <section class="hero pb-5" id="inoEN">
        <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">Innovation</span>
                    <h1 class="mb-2 text-shadow">@Model.AdEN</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Innovation</a></li>
                            <li class="breadcrumb-item active">@Model.AdEN</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="inoEN2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">
                        @Html.Raw(Model.VideoUrlEN)
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section class="hero pb-5" id="inoTR">
        <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">İnovasyon</span>
                    <h1 class="mb-2 text-shadow">@Model.Ad</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">İnovasyon</a></li>
                            <li class="breadcrumb-item active">@Model.Ad</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="inoTR2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gutter-1 align-items-center">
                        @Html.Raw(Model.VideoUrl)
                    </div>
                </div>

            </div>

        </div>
    </section>


@section Javascript{
    <script type="text/javascript">

        var lang = localStorage.getItem("lang");
        if (lang == "en") {
            document.getElementById("inoTR").remove();
            document.getElementById("inoTR2").remove();
        }
        else {
            document.getElementById("inoEN").remove();
            document.getElementById("inoEN2").remove();
        };
    </script>

}

