﻿@model IEnumerable<Zemedya.Entity.Concrete.ReferansEntities.Referans>
@{
    ViewData["Title"] = "References";
    ViewData["description"] = ViewBag.descriptionEN;


    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5" id="refEN">
    <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                <span class="eyebrow decorated mb-1">Home</span>
                <h1 class="mb-2 text-shadow">References</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">References</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="hero pb-5" id="refTR">
    <span class="image image-overlay" style="background-image: url(/Platinum/assets/images/header/about-us-header.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                <span class="eyebrow decorated mb-1">Ana Sayfa</span>
                <h1 class="mb-2 text-shadow">Referanslar</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/tr">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Referanslar</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12"><img class="img-fluid" src="/img/@item.Gorsel"></div>
            }


        </div>
    </div>
</section>
@section Javascript{
    <script type="text/javascript">

        var lang = localStorage.getItem("lang");
        if (lang == "en") {
            document.getElementById("refTR").remove();
        }
        else {
            document.getElementById("refEN").remove();
        };
    </script>

}
