﻿@model Zemedya.Model.VM.Page.AnasayfaVM
@{
    ViewData["Title"] = Model.Title;
    ViewData["googledogrulama"] = Model.GoogleDogrulama;
    ViewData["favicon"] = Model.Favicon;
    ViewData["googleanalytics"] = Model.GoogleAnalytics;
    ViewData["description"] = ViewBag.description;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="swiper-container">
    <div class="swiper-wrapper">
        @if (Model.Sliderlar != null)
        {
            foreach (var item in Model.Sliderlar)
            {
                <div class="swiper-slide">
                    <div class="image image-overlay image-zoom" style="background-image:url(/img/@item.Gorsel)"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
                                @Html.Raw(item.Aciklama)
                            </div>
                        </div>
                    </div>
                </div>
            }

        }



    </div>
    <div class="swiper-footer">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                    <div class="swiper-pagination"></div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="swiper-navigation">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">
                    @Model.KurumsalDTO.Isim
                </h2>
            </div>
        </div>
        <div class="row gutter-1 align-items-center">
            <div class="col-lg-5 mr-auto">
                @Html.Raw(Model.KurumsalDTO.Detay)
            </div>
            <div class="col-lg-6">
                <img src="~/img/@Model.KurumsalDTO.Gorsel" class="w-100 shadow">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/kurumsal/biz-kimiz" class="btn btn-outline-secondary"> @Model.KurumsalDTO.Isim</a>
            </div>
        </div>
    </div>
</section>

<!-- categories -->
<section class="pt-1" id="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">
                    Çözümlerimiz
                </h2>
            </div>
        </div>
        <div class="row masonry gutter-1">
            @if (Model.Solutions != null)
            {
                foreach (var item in Model.Solutions)
                {
                    if (item.Id != 5 && item.Id != 7 && item.Id != 8 && item.Id != 9 && item.Id != 10 && item.Id != 11 && item.Id != 12 && item.Id != 13)
                    {

                        <div class="col-md-4">
                            <a href="/solutions/@item.SEO" class="card card-equal equal-50 equal-md-100 card-scale vitrin-gorsel">
                                <span class="image image-overlay" style="background-image: url(/img/@item.AnaSayfaGorsel)"></span>
                                <div class="card-body text-center text-white">
                                    <h3>@item.AnaSayfaBaslik</h3>
                                </div>
                            </a>
                        </div>
                    }
                }
            }




        </div>
    </div>
</section>

<!-- Referans logolar -->
@*<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="partners">
                    <h2 class="eyebrow">Referanslar</h2>
                    <div class="owl-carousel owl-carousel-alt" data-items="[6,4,4,2]" data-loop="true" data-nav="true" data-autoplay="true">
                        @if (Model.Referans.Count != 0)
                        {
                            foreach (var item in Model.Referans)
                            {
                                <a href="/referanslar"><img src="~/img/@item.Gorsel"></a>
                            }
                        }





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

@section Javascript{
    <script type="text/javascript">

        localStorage.setItem("lang", "tr");
    </script>

}
