﻿@model List<Zemedya.Entity.Concrete.MembershipEntities.Membership>
@{
    @if (ViewBag.Lang == "en")
        ViewData["Title"] = "Membership";
    else
        ViewData["Title"] = "Üyelikler";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <span class="eyebrow decorated mb-1">Corporate</span>
                    <h1 class="mb-2 text-shadow">Membership</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Corporate</a></li>
                            <li class="breadcrumb-item active">Membership</li>
                        </ol>
                    </nav>
                }
                else
                {
                    <span class="eyebrow decorated mb-1">Kurumsal</span>
                    <h1 class="mb-2 text-shadow">Üyelikler</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Kurumsal</a></li>
                            <li class="breadcrumb-item active">Üyelikler</li>
                        </ol>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            @foreach (var item in Model.OrderBy(x=>x.Order))
            {
                <div class="col-lg-3">
                    <div class="card">
                        <a data-fancybox="gallery" href="/img/@item.Image">
                            <img class="card-img-top"  src="/img/@item.Image">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.Title</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

