﻿@model Zemedya.Entity.Concrete.AcikPozisyonEtities.AcikPozisyon

@{
    if (ViewBag.en == "true")
    {
        ViewData["Title"] = Model.NameEn;
    }
    else
    {
        ViewData["Title"] = Model.NameTr;

    }

    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <h1 class="mb-2 text-shadow">Open Position</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Carrer</a></li>
                            <li class="breadcrumb-item"><a href="#">Human Resources</a></li>
                            <li class="breadcrumb-item active">@Model.NameEn</li>
                        </ol>
                    </nav>
                }
                else
                {
                    <h1 class="mb-2 text-shadow">Açık Pozisyonlar</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Kariyer</a></li>
                            <li class="breadcrumb-item"><a href="#">İnsan Kaynakları</a></li>
                            <li class="breadcrumb-item active">@Model.NameTr</li>
                        </ol>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                @if (ViewBag.Lang == "en")
                {
                    <div class="border-bottom border-bottom-dark d-flex justify-content-between mb-2">
                        <h3>@Model.NameEn</h3>
                        <h4>@Model.City</h4>
                    </div>
                    <div class="mb-2">
                        @Html.Raw(Model.DescriptionEn)
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button onclick="CarrerModal('@Model.NameEn (@Model.City) Aplly')" class="btn btn-secondary">Apply</button>
                    </div>
                }
                else
                {
                    <div class="border-bottom border-bottom-dark d-flex justify-content-between mb-2">
                        <h3>@Model.NameTr</h3>
                        <h4>@Model.City</h4>
                    </div>
                    <div class="mb-2">
                        @Html.Raw(Model.DescriptionTr)
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button onclick="CarrerModal('@Model.NameEn (@Model.City) Başvuru')" class="btn btn-secondary">Başvur</button>
                    </div>

                }
            </div>
        </div>
    </div>

</section>




@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    surname: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "This field is required."
                    },
                    surname: {
                        required: "This field is required."
                    },
                    phone: {
                        required: "This field is required."
                    },
                    email: {
                        required: "This field is required.",
                        email: "Please enter a valid e-mail address."
                    },
                    subject: {
                        required: "This field is required."
                    },
                    message: {
                        required: "This field is required."
                    }
                }
            });
        });

        function CarrerModal(konu) {

        }

        function EpostaGonder() {
            var file = $("#file").get(0).files;
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("Ad", $('#name').val());
            form.append("Soyad", $('#surname').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());
            form.append("dosya", file[0]);
            if (file[0] === undefined || file[0] === null) {
                swal.fire({
                    text: "Please enter the CV information.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })
            }
            else {
                $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Your message has been sent successfully.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Message could not be sent.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Ok",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
            }


        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Please enter the information completely.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}
