﻿@model List<Zemedya.Entity.Concrete.Team.TeamCategory>
@{
    @if (ViewBag.Lang == "en")
        ViewData["Title"] = "Our Team";
    else
        ViewData["Title"] = "Ekibimiz";

    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <span class="eyebrow decorated mb-1">Corporate</span>
                    <h1 class="mb-2 text-shadow">Organization</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Corporate</a></li>
                            <li class="breadcrumb-item active">Organization</li>
                        </ol>
                    </nav>
                }
                else
                {
                    <span class="eyebrow decorated mb-1">Kurumsal</span>
                    <h1 class="mb-2 text-shadow">Organizasyon</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Kurumsal</a></li>
                            <li class="breadcrumb-item active">Organizasyon</li>
                        </ol>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group list-group-flush">
                        @{ var aktifEn = ""; var aktifTr = ""; bool first = true;}
                        @foreach (var teamCategory in Model.OrderBy(x => x.Order))
                        {
                            if (ViewBag.Seo == null && first)
                            {
                                aktifEn = "bg-secondary"; aktifTr = "bg-secondary"; first = false;
                            }
                            else
                            {
                                aktifEn = teamCategory.TeamSeoEn == ViewBag.Seo ? "bg-secondary" : "";
                                aktifTr = teamCategory.TeamSeoTr == ViewBag.Seo ? "bg-secondary" : "";

                            }

                            @if (ViewBag.Lang == "en")
                            {
                                <a href="/corporate/organization/@teamCategory.TeamSeoEn" class="list-group-item list-group-item-action @aktifEn">@teamCategory.TeamNameEn</a>
                            }
                            else
                            {
                                <a href="/kurumsal/organizasyon/@teamCategory.TeamSeoTr" class="list-group-item list-group-item-action @aktifTr">@teamCategory.TeamNameTr</a>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        @{
                            string seo = ViewBag.Seo;

                            List<Zemedya.Entity.Concrete.Team.TeamList> teamLists;

                            if (seo == null)
                                teamLists = Model.OrderBy(x => x.Order).FirstOrDefault()?.TeamLists;
                            else
                                teamLists = Model.OrderBy(x => x.Order).FirstOrDefault(x => x.TeamSeoEn == seo || x.TeamSeoTr == seo)?.TeamLists;

                            if (teamLists == null)
                                teamLists = new List<Zemedya.Entity.Concrete.Team.TeamList>();

                        }

                        @foreach (var item in teamLists.OrderBy(x => x.Order))
                        {
                            <div class="col-md-4 mb-3">
                                <div class="card text-center">
                                    <img src="/img/@item.Image" class="card-img-top" alt="Profil Page">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.NameSurname</h5>
                                        @if (ViewBag.Lang == "en")
                                        {
                                            <p class="card-text">@item.TitleEn</p>
                                        }
                                        else
                                        {
                                            <p class="card-text">@item.TitleTr</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>

