﻿@model List<Zemedya.Entity.Concrete.PressEntities.Press>
@{
    ViewData["Title"] = "Press";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <h1 class="mb-2 text-shadow">Press Bulletin</h1>
                }
                else
                {
                    <h1 class="mb-2 text-shadow">Basında Biz</h1>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            @if (ViewBag.Lang == "en")
            {
                @foreach (var item in Model.OrderBy(x => x.Order))
                {
                    <div class="col-lg-4">
                        <a href="/press/@item.BaslikEN" class="card bg-dark text-white">
                            <img src="/img/@item.GorselEN" class="card-img" alt="Gorsel">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-center">@item.BaslikEN</h5>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model.OrderBy(x => x.Order))
                {
                    <div class="col-lg-4">
                        <a href="/basin/@item.BaslikTR" class="card bg-dark text-white">
                            <img src="/img/@item.GorselTR" class="card-img" alt="Gorsel">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-center">@item.BaslikTR</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>

</section>

