﻿@model Zemedya.Entity.Concrete.PressEntities.Press

@{
    ViewData["Title"] = "PressDetail";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <h1 class="mb-2 text-shadow">Press Bulletin</h1>
                }
                else
                {
                    <h1 class="mb-2 text-shadow">Basında Biz</h1>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <small class="d-block d-flex justify-content-end font-weight-bold">@Model.Tarih.ToString("dd/MM/yyyy")</small>

        @if (ViewBag.Lang == "en")
        {
            <h1>@Model.BaslikEN</h1>
            <hr class="my-2" />
            @Html.Raw(Model.IcerikEN)
        }
        else
        {
            <h1>@Model.BaslikTR</h1>
            <hr class="my-2" />
            @Html.Raw(Model.IcerikTR)

        }
    </div>

</section>

