﻿@model Zemedya.Entity.Concrete.MediaEntities.VideoMediaCategory

@{
    @if (ViewBag.Lang == "en")
        ViewData["Title"] = "Video Gallery";
    else
        ViewData["Title"] = "Video Galeri";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <h1 class="mb-2 text-shadow">Video Gallery</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Media</a></li>
                            <li class="breadcrumb-item active">Video Gallery</li>
                            <li class="breadcrumb-item active">@Model.NameEN</li>
                        </ol>
                    </nav>
                }
                else
                {
                    <h1 class="mb-2 text-shadow">Video Galeri</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Medya</a></li>
                            <li class="breadcrumb-item active">Video Galeri</li>
                            <li class="breadcrumb-item active">@Model.NameTR</li>
                        </ol>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.VideoMediaItems)
            {
                var text = "";

                if (ViewBag.Lang == "en")
                {
                    text = item.DescriptionEN;
                }
                else
                {
                    text = item.DescriptionTR;
                }

                <div class="col-lg-3">
                    <div class="card">
                        <a data-fancybox href="https://www.youtube.com/watch?v=@item.video&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                            <img class="card-img-top img-fluid" src="http://img.youtube.com/vi/@item.video/mqdefault.jpg" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
