﻿@model List<Zemedya.Entity.Concrete.MediaEntities.VideoMediaCategory>

@{
    @if (ViewBag.Lang == "en")
        ViewData["Title"] = "Video Gallery";
    else
        ViewData["Title"] = "Video Galeri";

    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <span class="image image-overlay" style="background-image: url(/img/d1b836aa-a805-4b25-a18c-048a1517454e.jpg)"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 text-white">
                @if (ViewBag.Lang == "en")
                {
                    <h1 class="mb-2 text-shadow">Video Gallery</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Media</a></li>
                            <li class="breadcrumb-item active">Video Gallery</li>
                        </ol>
                    </nav>
                }
                else
                {
                    <h1 class="mb-2 text-shadow">Video Galeri</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Medya</a></li>
                            <li class="breadcrumb-item active">Video Galeri</li>
                        </ol>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                var text = "";
                var link = "";

                if (ViewBag.Lang == "en")
                {
                    text = item.NameEN;
                    link = "/videogallery/" + item.NameEN;
                }
                else
                {
                    text = item.NameTR;
                    link = "/videogaleri/" + item.NameTR;
                }

                <div class="col-lg-4">
                    <a href="@link">
                        <div class="card">

                            <img class="card-img-top" src="/img/@item.Image">

                            <div class="card-body p-1">
                                <p class="card-text text-center m-0">@text</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

</section>

