﻿@model Zemedya.Model.VM.Page.FooterVM

@{
    var socialList = new List<Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO>();

    socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.FacebookOrder, Link = Model.Ayarlar.Facebook });
    socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.TwitterOrder, Link = Model.Ayarlar.Twitter });
    socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.LinkedinOrder, Link = Model.Ayarlar.Linkedin });
    socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.YoutubeOrder, Link = Model.Ayarlar.Youtube });
    socialList.Add(new Zemedya.Model.DTO.AyarlarDTOs.SocialListDTO { Order = Model.Ayarlar.InstagramOrder, Link = Model.Ayarlar.Instagram });

}

<footer class="bg-platin py-0" id="footerEN">
    <div class="container">
        <div class="row separated">
            <div class="col-lg-5 py-2">
                <p class="footer-adres" style="align-items: normal;">
                    <span class="small font-weight-bolder">PLATINUM TÜRKİYE </span>
                </p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Office: <a href="tel:+902164464639">+90 (216) 446 46 39</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>E-mail: <a href="mailto:platinum@platinum-ms.com">platinum@platinum-ms.com</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Webite: <a href="https://www.platinum-ms.com">www.platinum-ms.com</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Address: Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</small></p>
            </div>
            <div class="col-lg-5 py-2">
                <p class="footer-adres" style="align-items: normal;">
                    <span class="small font-weight-bolder">PLATINUM NETHERLANDS</span>
                </p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Platinum Marine Services B.V.</small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Office: <a href="tel:+31108005480">+31 (10) 800 54 80</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>E-mail: <a href="mailto:platinum@platinum-ms.nl">platinum@platinum-ms.nl</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Webite: <a href="http://www.platinum-ms.nl">www.platinum-ms.nl</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Address: Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</small></p>
            </div>
            <div class="col-lg-2 py-2">
                <p class="footer-adres" style="align-items: normal;">
                    <span class="small font-weight-bolder">SOCİAL</span>
                </p>
                <nav class="nav nav-icons footer-social">
                    @foreach (var item in socialList.OrderBy(x => x.Order))
                    {
                        if (item.Link != null && item.Link != "")
                        {
                            var icon = "";

                            if (item.Link.ToLower().Contains("facebook"))
                            {
                                icon = "<i class='icon-facebook'></i>";
                            }
                            else if (item.Link.ToLower().Contains("instagram"))
                            {
                                icon = "<i class='icon-instagram'></i>";
                            }
                            else if (item.Link.ToLower().Contains("twitter"))
                            {
                                icon = "<i class='icon-twitter'></i>";
                            }
                            else if (item.Link.ToLower().Contains("linkedin"))
                            {
                                icon = "<i class='icon-linkedin'></i>";
                            }
                            else if (item.Link.ToLower().Contains("youtube"))
                            {
                                icon = "<i class='icon-youtube'></i>";
                            }

                            <a class="nav-link" href="@item.Link">@Html.Raw(icon)</a>
                        }
                    }
                </nav>
                <p class="footer-adres py-0 m-0" style="align-items: normal;">
                    <img src="~/Platinum/assets/images/Platinum_Kare_Barkod.jpeg" style="width:84px" />
                </p>

            </div>

            @*<div class="col-lg-3 py-10">
                    <div class="row">
                        <div class="col-md-8">
                            <a href="/" class="mb-3 d-block"><img src="/img/@Model.Ayarlar.Logo" style="height: 35px;"></a>
                            <p class="footer-adres">
                                <span class="small font-weight-bolder">PLATINUM TÜRKİYE</span>
                            </p>
                            <p class="footer-adres"><small>Office: <a href="tel:+902164464639">+90 (216) 446 46 39</a></small></p>
                            <p class="footer-adres"><small>E-mail: <a href="mailto:platinum@platinum-ms.com">platinum@platinum-ms.com</a></small></p>
                            <p class="footer-adres"><small>Webite: <a href="https://www.platinum-ms.com">www.platinum-ms.com</a></small></p>
                            <p class="footer-adres"><small>Address: Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</small></p>
                            <p class="footer-adres"><small>Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 py-10">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3" style="height: 35px;"></div>
                            <p class="footer-adres">
                                <span class="small font-weight-bolder">PLATINUM NETHERLANDS</span>
                            </p>
                            <p class="footer-adres"><small>Office: <a href="tel:+31108005480">+31 (10) 800 54 80</a></small></p>
                            <p class="footer-adres"><small>E-mail: <a href="mailto:platinum@platinum-ms.nl">platinum@platinum-ms.nl</a></small></p>
                            <p class="footer-adres"><small>Webite: <a href="http://www.platinum-ms.nl">www.platinum-ms.nl</a></small></p>
                            <p class="footer-adres"><small>Address: Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</small></p>
                            <p class="footer-adres"><small>Platinum Marine Services B.V.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 py-10">
                    <div class="footer-kroki">
                        <iframe src="@Model.Iletisim.HaritaKod" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-3 py-10">
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="eyebrow mb-2">Social Media</h4>
                            <nav class="nav nav-icons footer-social">
                                @if (Model.Ayarlar.Facebook != null)
                                {
                                    <a class="nav-link" href="@Model.Ayarlar.Facebook"><i class="icon-facebook"></i></a>
                                }
                                @if (Model.Ayarlar.Twitter != null)
                                {
                                    <a class="nav-link" href="@Model.Ayarlar.Twitter"><i class="icon-twitter"></i></a>
                                }
                                @if (Model.Ayarlar.Linkedin != null)
                                {
                                    <a class="nav-link" href="@Model.Ayarlar.Linkedin"><i class="icon-linkedin"></i></a>
                                }
                            </nav>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="alt-footer py-3">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="footer-menu">
                        <h6>Corporate</h6>
                        <ul>
                            @{var j = 0; }
                            @foreach (var item in Model.BlogKategorileri)
                            {
                                <li><a href="/corporate/@item.SEOEN">@item.IsimEN</a></li>

                                if (j == 0)
                                {
                                    @*<li><a href="/corporate/organization">Organization</a></li>*@
                                    <li><a href="/corporate/membership">Membership</a></li>
                                }
                                j++;
                                if (j == Model.BlogKategorileri.Count)
                                {
                                    <li><a href="/corporate/certificates">Certificates</a></li>
                                    <li><a href="/references">References</a></li>
                                }

                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Solutions</h6>
                        <ul>

                            @foreach (var item in Model.Duyurular)
                            {
                                if (item.Id != 7 && item.Id != 8 && item.Id != 9 && item.Id != 10 && item.Id != 11 && item.Id != 12 && item.Id != 13)
                                {
                                    <li><a href="/solutions/@item.SEOEN">@item.IsimEN</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Solution Partners</h6>
                        <ul>
                            @foreach (var item in Model.Etkinlikler)
                            {
                                <li><a href="/solution-partners/@item.SEOEN">@item.IsimEN</a></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Innovation</h6>
                        <ul>
                            <li><a href="/innovation">@Model.VideoDTO.AdEN</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Career</h6>
                        <ul>
                            @foreach (var item in Model.Videolar)
                            {
                                <li><a href="/career/@item.BaslikEN">@item.AdEN</a></li>
                            }


                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Media</h6>
                        <ul>
                            @foreach (var item in Model.MediaListesi)
                            {
                                <li><a href="/media/@item.SEOEN"> @item.IsimEN</a></li>
                            }
                            <li><a target="_blank" href="~/@Model.KurumsalDTO.GorselEN">Brochure</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Contact</h6>
                        <ul>

                            <li><a href="/contact/en">Contact Us</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="d-md-flex align-items-center justify-content-center">
                <div class="all-rights">
                    <small>2022 © Platinum Marine Services</small>
                    <br>

                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="bg-platin py-0" id="footerTR">
    <div class="container">
        <div class="row separated">
            <div class="col-lg-5 py-2">
                <p class="footer-adres" style=" align-items: normal;">
                    <span class="small font-weight-bolder">PLATINUM TÜRKİYE</span>
                </p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Ofis: <a href="tel:+902164464639">+90 (216) 446 46 39</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>E-mail: <a href="mailto:platinum@platinum-ms.com">platinum@platinum-ms.com</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Webite: <a href="https://www.platinum-ms.com">www.platinum-ms.com</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Adres: Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</small></p>
            </div>
            <div class="col-lg-5 py-2">
                <p class="footer-adres" style=" align-items: normal;">
                    <span class="small font-weight-bolder">PLATINUM NETHERLANDS</span>
                </p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Platinum Marine Services B.V.</small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Ofis: <a href="tel:+31108005480">+31 (10) 800 54 80</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>E-mail: <a href="mailto:platinum@platinum-ms.nl">platinum@platinum-ms.nl</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Webite: <a href="http://www.platinum-ms.nl">www.platinum-ms.nl</a></small></p>
                <p class="footer-adres py-0 m-0" style="align-items: normal;"><small>Adres: Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</small></p>
            </div>
            <div class="col-lg-2 py-2">
                <p class="footer-adres" style="align-items: normal;">
                    <span class="small font-weight-bolder">SOSYAL</span>
                </p>
                <nav class="nav nav-icons footer-social">
                    @foreach (var item in socialList.OrderBy(x => x.Order))
                    {
                        if (item.Link != null && item.Link != "")
                        {
                            var icon = "";

                            if (item.Link.ToLower().Contains("facebook"))
                            {
                                icon = "<i class='icon-facebook'></i>";
                            }
                            else if (item.Link.ToLower().Contains("instagram"))
                            {
                                icon = "<i class='icon-instagram'></i>";
                            }
                            else if (item.Link.ToLower().Contains("twitter"))
                            {
                                icon = "<i class='icon-twitter'></i>";
                            }
                            else if (item.Link.ToLower().Contains("linkedin"))
                            {
                                icon = "<i class='icon-linkedin'></i>";
                            }
                            else if (item.Link.ToLower().Contains("youtube"))
                            {
                                icon = "<i class='icon-youtube'></i>";
                            }

                            <a class="nav-link" href="@item.Link">@Html.Raw(icon)</a>
                        }
                    }
                </nav>
                <p class="footer-adres py-0 m-0" style="align-items: normal;">
                    <img src="~/Platinum/assets/images/Platinum_Kare_Barkod.jpeg" style="width:84px" />
                </p>

            </div>












            <!--<div class="col-lg-3 py-10">
            <div class="row">
                <div class="col-md-8">-->
            @*@if (Model.Iletisim != null)
                {
                    <a href="/" class="mb-3 d-block"><img src="/img/@Model.Ayarlar.Logo" style="height: 35px;"></a>
                    <p class="footer-adres">
                        <span class="small font-weight-bolder">PLATINUM TURKEY</span>
                    </p>
                    <p class="footer-adres"><i class="icon-map-pin"></i> <small>@Model.Iletisim.Adres</small></p>
                    <p class="footer-adres"><i class="icon-phone"></i> <small>@Model.Iletisim.Telefon</small></p>
                    @if (Model.Iletisim.Telefon2 != null)
                    {
                        <p class="footer-adres"><i class="icon-phone"></i> <small>@Model.Iletisim.Telefon2</small></p>
                    }
                    <p class="footer-adres"><i class="icon-printer"></i> <small>@Model.Iletisim.Fax</small></p>
                    <p class="footer-adres"><i class="icon-mail"></i> <small><a href="@Model.Iletisim.Email">@Model.Iletisim.Email</a></small></p>
                }*@
            <!--<a href="/" class="mb-3 d-block"><img src="/img/@Model.Ayarlar.Logo" style="height: 35px;"></a>
                        <p class="footer-adres">
                            <span class="small font-weight-bolder">PLATINUM TÜRKİYE</span>
                        </p>
                        <p class="footer-adres"><small>Ofis: <a href="tel:+902164464639">+90 (216) 446 46 39</a></small></p>
                        <p class="footer-adres"><small>E-mail: <a href="mailto:platinum@platinum-ms.com">platinum@platinum-ms.com</a></small></p>
                        <p class="footer-adres"><small>Webite: <a href="https://www.platinum-ms.com">www.platinum-ms.com</a></small></p>
                        <p class="footer-adres"><small>Adres: Istasyon Mah. Istasyon Cad. No:103/B, 34940, Tuzla, Istanbul</small></p>
                        <p class="footer-adres"><small>Platinum Marin Servis Denizcilik San. Ve Tic. A.S.</small></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 py-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3" style="height: 35px;"></div>
                        <p class="footer-adres">
                            <span class="small font-weight-bolder">PLATINUM NETHERLANDS</span>
                        </p>
                        <p class="footer-adres"><small>Ofis: <a href="tel:+31108005480">+31 (10) 800 54 80</a></small></p>
                        <p class="footer-adres"><small>E-mail: <a href="mailto:platinum@platinum-ms.nl">platinum@platinum-ms.nl</a></small></p>
                        <p class="footer-adres"><small>Webite: <a href="http://www.platinum-ms.nl">www.platinum-ms.nl</a></small></p>
                        <p class="footer-adres"><small>Adres: Delftse Poort, Office No: 30.04 Weena 505 3013 AL Rotterdam</small></p>
                        <p class="footer-adres"><small>Platinum Marine Services B.V.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 py-10">
                <div class="footer-kroki">
                    <iframe src="@Model.Iletisim.HaritaKod" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-3 py-10">
                <div class="row justify-content-end">
                    <div class="col-lg-10">
                        <h4 class="eyebrow mb-2">Sosyal Medya</h4>
                        <nav class="nav nav-icons footer-social">
                            @if (Model.Ayarlar.Facebook != null)
                            {
                                <a class="nav-link" href="@Model.Ayarlar.Facebook"><i class="icon-facebook"></i></a>
                            }
                            @if (Model.Ayarlar.Twitter != null)
                            {
                                <a class="nav-link" href="@Model.Ayarlar.Twitter"><i class="icon-twitter"></i></a>
                            }
                            @if (Model.Ayarlar.Linkedin != null)
                            {
                                <a class="nav-link" href="@Model.Ayarlar.Linkedin"><i class="icon-linkedin"></i></a>
                            }



                        </nav>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="alt-footer py-3">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="footer-menu">
                        <h6>Kurumsal</h6>
                        <ul>
                            @{var k = 0; }
                            @foreach (var item in Model.BlogKategorileri)
                            {
                                <li><a href="/corporate/@item.SEOEN">@item.IsimEN</a></li>

                                if (k == 0)
                                {
                                    @*<li><a href="/kurumsal/organizasyon">Organizasyon</a></li>*@
                                    <li><a href="/kurumsal/uyelikler">Üyelikler</a></li>
                                }
                                k++;
                                if (k == Model.BlogKategorileri.Count)
                                {
                                    <li><a href="/kurumsal/sertifikalar">Sertifikalar</a></li>
                                    <li><a href="/referanslar">Referanslar</a></li>
                                }


                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Çözümler</h6>
                        <ul>

                            @foreach (var item in Model.Duyurular)
                            {
                                if (item.Id != 7 && item.Id != 8 && item.Id != 9 && item.Id != 10 && item.Id != 11 && item.Id != 12 && item.Id != 13)
                                {
                                    <li><a href="/cozumler/@item.SEO">@item.Isim</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Partnerler</h6>
                        <ul>
                            @foreach (var item in Model.Etkinlikler)
                            {
                                <li><a href="/partnerler/@item.SEO">@item.Isim</a></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>İnovasyon</h6>
                        <ul>
                            <li><a href="/inovasyon">@Model.VideoDTO.Ad</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Kariyer</h6>
                        <ul>
                            @foreach (var item in Model.Videolar)
                            {
                                <li><a href="/kariyer/@item.Baslik">@item.Ad</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>Medya</h6>
                        <ul>
                            @foreach (var item in Model.MediaListesi)
                            {
                                <li><a href="/media/@item.SEO"> @item.Isim</a></li>
                            }
                            <li><a target="_blank" href="~/@Model.KurumsalDTO.Gorsel">Broşür</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <h6>İletişim</h6>
                        <ul>

                            <li><a href="/contact/tr">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="d-md-flex align-items-center justify-content-center">
                <div class="all-rights">
                    <small>2022 © Platinum Marine Services</small>
                    <br>

                </div>
            </div>
        </div>
    </div>
</footer>
